@import '~@icedesign/skin/variables.scss';

// Basic color variables
$custom-layout-bg: #2e323f;
$ice-body-bg: $color-white !default;

.ice-design-layout-dark.ice-design-layout {
  background-image: url(https://img.alicdn.com/tfs/TB1_YvwXTtYBeNjy1XdXXXXyVXa-1680-370.png);
  background-color: $custom-layout-bg;
}

$theme: 'dark';

@import './base.scss';
