@charset "UTF-8";

.complex-tab-table {
  .complex-tab-table-operation {
    a {
      margin-right: 12px;
      text-decoration: none;
    }
  }
  .next-tabs-medium .next-tabs-tab-inner {
    height: 40px;
    line-height: 40px;
  }
}
