.display-card-container {
  background: url('https://gw.alicdn.com/tfs/TB1yjIrh3vD8KJjy0FlXXagBFXa-2112-340.png');
  .count {
    color: #fff;
  }
  .title,
  .desc {
    color: #bebebe;
  }
}
@media screen and (max-width: 720px) {
  .display-card-container {
    background: #fff;
    .count {
      color: #666;
    }
    .title,
    .desc {
      color: #999;
    }
  }
}
