@import '../../variables.scss';

.page-slider {
  overflow: hidden;
  .slider-list {
    overflow: visible;
    .slider-page {
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
    }
  }
  .slider-control {
    overflow: hidden;
    img {
      display: inline-block;
      width: 52px;
      height: 52px;
      cursor: pointer;
    }
    .slider-control-prev {
      float: left;
      &-hidden {
        display: none;
      }
    }
    .slider-control-next {
      float: right;
      &-hidden {
        display: none;
      }
    }
  }
}