@import '../../variables.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $brand-color-normal;

  .content {
    display: flex;
    flex-direction: row;
    flex: auto 1 1;
    height: 100%;
    overflow: hidden;
  }

  .main {
    flex: auto 1 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
