/* GLOBAL */
.basic-layout-#{$theme} {
  min-width: 1200px;
  .next-btn {
    border-radius: 4px;
  }

  .logo {
    max-width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* LAYOUT */
  &.ice-design-layout {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;

    .menu-btn {
      position: fixed;
      left: 0;
      top: 82px;
      width: 40px;
      height: 40px;
      border-radius: 0 6px 6px 0;
      margin-bottom: 0;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      color: $ice-toggle-btn-text-color;
      background: $ice-toggle-btn-bg;
      z-index: 9;
      text-decoration: none;
      &:hover {
        color: #e7e7e7;
      }
    }

    .ice-layout-main {
      padding: 20px;
      background: $ice-layout-bg;
    }

    /* HEADER */
    .ice-design-layout-header {
      width: 100%;
      padding: 10px 20px;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $ice-header-bg;
      .user-avatar {
        margin-right: 12px;
        border-radius: 4px;
      }
      .ice-design-layout-header-menu .ice-menu {
        background: $ice-header-menu-bg;
        color: $ice-header-text-color;
        .ice-menu-item:hover,
        .ice-menu-item > a:hover {
          color: $ice-header-text-hover-color;
        }
      }
      .ice-design-header-userpannel {
        margin-left: 20px;
        cursor: pointer;
        .user-profile {
          display: inline-block;
          text-align: center;
          margin-bottom: 2px;
          color: $ice-header-text-color;
        }
        .icon-down {
          margin-left: 2px;
          color: $ice-header-icon-down-color;
        }
      }
    }

    /* ASIDE */
    .ice-design-layout-aside {
      height: 100%;
      position: relative;
      padding-top: 20px;
      background: $ice-aside-bg;
      border-right: 1px solid #eee;

      .collapse-btn {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        color: $ice-collapse-btn-color;
        border-top: 1px solid #f2f2f2;
        cursor: pointer;
      }

      .ice-menu {
        background: $ice-aside-menu-bg;
        transition: all 0.3s ease;
        &.ice-menu-inline .ice-icon-stable::before {
          font-weight: normal;
        }
      }

      .ice-menu.ice-menu-root.ice-menu-inline
        > .ice-menu-submenu
        > .ice-menu-submenu-title,
      .ice-menu.ice-menu-root.ice-menu-inline > .ice-menu-item {
        margin-bottom: 1px;
        color: $ice-aside-text-color;
        font-weight: 500;
        font-size: 14px;
      }

      .ice-menu.ice-menu-root .ice-menu-inline > .ice-menu-item {
        color: $ice-aside-sub-text-color;
      }

      .ice-menu .ice-menu-item:hover,
      .ice-menu.ice-menu-horizontal > .ice-menu-item:hover,
      .ice-menu.ice-menu-root > .ice-menu-item:hover {
        color: #fff;
        border-radius: 0;
        border-right: 3px solid $ice-aside-menu-item-selected-border-color;
        background: $ice-aside-menu-item-selected-bg;
      }

      .ice-menu .ice-menu-item > a:hover,
      .ice-menu.ice-menu-horizontal > .ice-menu-item:hover,
      .ice-menu.ice-menu-root > .ice-menu-item > a:hover {
        color: $ice-aside-text-hover-color;
      }

      .ice-menu:not(.ice-menu-horizontal) .ice-menu-item-selected {
        margin-bottom: 1px;
        border-radius: 0;
        border-right: 3px solid $ice-aside-menu-item-selected-border-color;
        background: $ice-aside-menu-item-selected-bg;
      }

      .ice-menu .ice-menu-submenu-vertical > .ice-menu:after {
        background: $ice-aside-menu-submenu-vertical-bg;
      }

      .ice-menu:not(.ice-menu-horizontal) .ice-menu-item-selected:before,
      .ice-menu-sub .ice-menu-item:hover:before {
        width: 0;
      }

      .ice-menu-item-selected > a {
        color: $ice-aside-menu-item-selected-text-color;
      }

      .ice-menu-item:hover {
        background: $ice-aside-menu-submenu-item-hover-bg;
        color: $ice-aside-text-hover-color;
      }

      /* ASIDE COLLAPSED */
      .ice-menu.ice-menu-collapse {
        > .ice-menu-item {
          text-align: center;
        }
        .ice-menu-submenu {
          &:hover {
            color: $ice-aside-menu-item-selected-text-color;
            border-radius: 0;
            background: $ice-aside-menu-item-selected-bg;
          }
        }
      }

      .ice-menu.ice-menu-collapse
        > .ice-menu-submenu-selected
        > .ice-menu-submenu-title {
        background: $ice-aside-menu-item-selected-bg;
        color: $ice-aside-menu-item-selected-text-color;
        border-radius: 0;
        &:before {
          width: 0;
        }
      }
    }

    /* FOOTER */
    .ice-design-layout-footer-body {
      width: 100%;
      margin: 20px auto;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .copyright {
        color: $ice-copyright-text-color;
        line-height: 1.5;
        font-size: 12px;
        text-align: left;
      }
      .copyright-link {
        color: $ice-copyright-text-color;
      }
    }
  }
}

.user-profile-menu {
  width: 130px;
  border-radius: 0;
  padding: 0 16px;
  .user-profile-menu-item {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #666;
    cursor: pointer;
    i {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 720px) {
  .basic-layout-#{$theme} {
    &.ice-design-layout {
      .ice-design-layout-header {
        .user-avatar {
          margin-right: 4px;
        }
        .ice-design-header-userpannel {
          margin-left: 0;
        }
        .ice-design-layout-header-menu {
          .ice-menu .ice-menu-item {
            padding: 0 5px;
          }
        }
      }

      .ice-design-layout-aside {
        position: fixed;
        left: -280px;
        top: 0px;
        bottom: 0;
        background: $ice-aside-bg;
        z-index: 9999;
      }

      .open-drawer {
        transform: translateX(280px);
        .logo {
          width: 240px;
          margin: 20px 0;
          text-align: center;
          background: transparent !important;
        }
      }

      .open-drawer-bg {
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: 0.3;
        z-index: 999;
      }
    }
  }
}
