// Basic color variables
$color-primary: #0079f2;
$color-white: #fff;
$color-transparent: transparent;
$ice-header-bg: #0079f2;
$ice-layout-bg: #f2f2f2;
$ice-aside-selected-bg: rgba(0, 121, 242, 0.06);
$ice-aside-text-color: #333;
$ice-footer-color: #666;

// Layout
$ice-body-bg: $color-white !default;
$ice-layout-bg: $ice-layout-bg !default;
$ice-toggle-btn-bg: $color-primary !default;
$ice-toggle-btn-text-color: $color-white !default;
$ice-collapse-btn-color: $color-primary !default;

// Header
$ice-header-bg: $ice-header-bg !default;
$ice-header-menu-bg: $color-transparent !default;
$ice-header-text-color: $color-white !default;
$ice-header-text-hover-color: $color-white !default;
$ice-header-menu-text-hover-color: $color-primary !default;
$ice-header-icon-down-color: $color-white !default;

// Aside
$ice-aside-bg: $color-white !default;
$ice-aside-menu-bg: $color-transparent !default;
$ice-aside-text-color: $ice-aside-text-color !default;
$ice-aside-sub-text-color: $ice-aside-text-color !default;
$ice-aside-text-hover-color: $ice-aside-text-color !default;
$ice-aside-menu-item-selected-bg: $ice-aside-selected-bg !default;
$ice-aside-menu-item-selected-text-color: $ice-aside-text-color !default;
$ice-aside-menu-item-selected-border-color: $color-primary !default;
$ice-aside-menu-submenu-item-hover-bg: $color-transparent !default;
$ice-aside-menu-submenu-vertical-bg: $color-white !default;
$ice-aside-menu-collapse-bg: $color-transparent !default;
$ice-aside-menu-collapse-selected-text-color: $color-primary !default;

// Footer
$ice-copyright-text-color: $ice-footer-color !default;

$theme: 'dark';

@import './base.scss';
