// Basic color variables
$color-primary: #908ce1;
$color-white: #fff;
$color-transparent: transparent;
$ice-header-bg: #3e416c;
$ice-layout-bg: #f0f2f5;
$ice-aside-bg: #2b3a4a;
$ice-aside-selected-bg: #263442;
$ice-footer-color: #666666;

// Layout
$ice-body-bg: $color-white !default;
$ice-layout-bg: $ice-layout-bg !default;
$ice-toggle-btn-bg: $color-primary !default;
$ice-toggle-btn-text-color: $color-white !default;
$ice-collapse-btn-color: $color-white !default;
$ice-collapse-btn-bg: $ice-aside-selected-bg !default;
$ice-icon-down-color: $color-white !default;

// Header
$ice-header-bg: $ice-header-bg !default;
$ice-header-menu-bg: $color-transparent !default;
$ice-header-text-color: $color-white !default;
$ice-header-text-hover-color: $color-primary !default;
$ice-header-menu-text-hover-color: $color-primary !default;

// Aside
$ice-aside-bg: $ice-aside-bg !default;
$ice-aside-menu-bg: $color-transparent !default;
$ice-aside-text-color: $color-white !default;
$ice-aside-sub-text-color: $color-white !default;
$ice-aside-text-hover-color: $color-white !default;
$ice-aside-menu-item-selected-bg: $ice-aside-selected-bg !default;
$ice-aside-menu-item-selected-text-color: $color-white !default;
$ice-aside-menu-item-selected-border-color: $color-white !default;
$ice-aside-menu-submenu-item-hover-bg: $color-transparent !default;
$ice-aside-menu-submenu-vertical-bg: $color-white !default;
$ice-aside-menu-collapse-bg: $color-transparent !default;
$ice-aside-menu-collapse-selected-text-color: $color-primary !default;

// Footer
$ice-copyright-text-color: $ice-footer-color !default;

$theme: 'dark';

@import './base.scss';
