<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>区块列表</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <div class="container">
    {{> sideBar }}

    <div class="preview-content">
      <p class="tips">点击左侧的区块或者布局进行预览，支持实时刷新预览效果图</p>
    </div>

  </div>
</body>
</html>
