<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>区块</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{#if isReact}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@icedesign/skin/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@icedesign/skin/override.css">
  {{/if}}

  {{#if isBlock}}
  <style>
    html, body {
      margin: 0;
      padding: 0;
      background: #f5f5f5;
    }
    .vue-demo-layout {
      width: 67%;
      margin: 40px auto;
    }
  </style>
  {{/if}}
</head>

<body>
  <div class="preview-container">
    <div class="preview-content">
      <div id="mountNode"></div>
    </div>
  </div>
  {{#if isReact}}
  <script src="https://g.alicdn.com/code/npm/??react/16.2.0/umd/react.development.js,react-dom/16.2.0/umd/react-dom.development.js"></script>
  {{/if}}
  <script src="{{ blockJS }}"></script>
</body>
</html>
