<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <style>
    .home {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      margin-top: 60px;
    }

    h1,
    h2 {
      font-weight: normal;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    p {
      line-height: 28px;
      font-size: 14px;
    }

    li {
      display: inline-block;
      margin: 0 10px;
    }

    a {
      color: #42b983;
    }
  </style>
</head>

<body>
  <div class="home">
    <img src="https://img.alicdn.com/tfs/TB1MtD3lAOWBuNjSsppXXXPgpXa-242-134.png" width="100">
    <div class="hello">
      <h1>欢迎使用飞冰</h1>
      <p>
        赋能中后台建设
        <br>海量可复用物料，通过 GUI 工具极速构建中后台应用
      </p>
      <h3>文档 & 工具</h3>
      <ul>
        <li>
          <a href="https://alibaba.github.io/ice/#/" target="_blank">关于飞冰</a>.
        </li>
        <li>
          <a href="https://alibaba.github.io/ice/#/iceworks" target="_blank">下载 Iceworks</a>
        </li>
      </ul>
      <h3>物料类型</h3>
      <ul>
        <li>
          <a href="/vue-materials">vue-materials</a>
        </li>
        <li>
          <a href="/react-materials">react-materials</a>
        </li>
      </ul>
    </div>
  </div>
</body>

</html>
