var Block = getDefaultOrSelf(window['{{ blockName }}']);

Vue.config.productionTip = false;

new Vue({
  el: '#mountNode',
  components: { Block: Block },
  template: '<div class="vue-demo-layout"><Block/></div>',
});
