@import "../Block/index.scss";

$block-width: 261px;
$block-padding: 3px;
$block-screenshot-width: $block-width - $block-padding * 2;
$block-screenshot-height: $block-screenshot-width / 16 * 9 * 2;
$block-screenshot-img-width: $block-screenshot-width - 6px;
$block-screenshot-img-height: $block-screenshot-height - 6px;

.block.block-group {
  width: $block-width;
  height: $block-screenshot-height + 44px + 6px;
  padding: $block-padding;
  .screenshot {
    width: $block-screenshot-width;
    height: $block-screenshot-height;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .screenshot-img {
      width: $block-screenshot-img-width;
      height: auto;
    }
  }
}