.blcoks-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.block-groups {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 0 10px 14px;
}

.block-groups-downloading {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}