.ice-layout {
  .ice-layout-aside.custom-aside {
    background: #2f323f;
    .aside-logo {
      height: 62px;
      box-shadow: 0 1px 4px rgba(0, 21, 41, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      background: #2f323f;
    }
    .custom-menu {
      width: 240px;
      height: 100vh;
      padding-top: 20px;
      border-radius: 6px;
      box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
      .ice-menu-sub {
        background: #2c2e39;
      }
      .ice-menu-item,
      .ice-menu-submenu-title {
        color: #fff;
      }
      .ice-menu-item-selected {
        border-radius: 0 !important;
        margin-bottom: 1px;
        > a {
          color: #fff;
        }
      }
    }
  }
}
