.aside-custom-menu {
  .user-info {
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: center;
    width: 240px;
    padding: 20px 0;
    position: relative;
    .user-avatar {
      margin-right: 12px;
      border-radius: 4px;
    }
    .user-department {
      font-size: 12px;
    }
  }
  .ice-menu-custom {
    background: #fff !important;
    height: 100vh;
    .ice-menu-item-text {
      margin-left: 1em;
    }
  }
}
