.infinite-scroll-cellmeasurer {
  .body-grid {
    width: 100%;
    border: 1px solid #e0e0e0;
  }
  .even-row,
  .odd-row {
    border-bottom: 1px solid #e0e0e0;
  }
  .odd-row {
    background-color: #fafafa;
  }

  .cell {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 1em;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }
}
