.logo {
  font-family: PingFang SC;
  height: 50px;
  margin-right: 30px;
  .logo-img {
    color: #fff;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
  }
  .logo-description {
    display: inline-block;
    line-height: 14px;
    color: #fff;
    font-size: 14px;
    margin-left: 16px;
  }
  .logo-description-workbench {
    font-size: 12px;
  }
  .logo-description-slogan {
    font-size: 12px;
  }
}
