@charset "UTF-8";

.article-list {
  .article-sort {
    li {
      cursor: pointer;
      list-style: none;
      font-size: 14px;
      margin-right: 30px;
      i::before {
        font-size: 12px;
        width: 12px;
      }
    }
  }
  .article-item {
    &:last-child {
      border-bottom: none;
    }
  }

  .article-item-tag {
    &:last-child {
      margin-right: 0;
    }
  }
  .article-item-meta {
    span {
      font-size: 14px;
      color: #999;
      margin-right: 15px;
    }
    i {
      top: 2px;
      color: #d2d2d2;
      &::before {
        font-size: 14px;
        width: 14px;
      }
    }
  }
}
