.container {
  display: flex;
}
.avatarWrapper {
  width: 64px;
  height: 65px;
  position: relative;
}
.avatar {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.level {
  right: -2px;
  width: 22px;
  bottom: -2px;
  height: 22px;
  position: absolute;
}
.userInfo {
  flex: auto;
  color: #999;
  margin-left: 20px;
}
.userDetail {
  height: 24px;
  display: flex;
  align-items: center;
}
.userName {
  color: #666;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  max-width: 200px;
  white-space: nowrap;
  margin-right: 5px;
  text-overflow: ellipsis;
}
.userLabel {
  color: $color-warning-3;
  height: 16px;
  padding: 0 5px;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  margin-left: 10px;
  white-space: nowrap;
  border-radius: 2px;
  background-color: $color-warning-1;
}
.userOther {
  font-size: 12px;
  line-height: 20px;
}
.userLevelWrapper {
  display: flex;
  position: relative;
}
.userlevelItem {
  border: 1px solid $color-warning-3;
  padding: 2px 6px;
  position: relative;
  margin-left: 14px;
  border-radius: 12px;
  background-color: #fff;
  color: $color-text1-3;
}
.userlevelItemCurrent {
  composes: userlevelItem;
  background-color: $color-warning-3;
  color: $color-white;
}

.userLevelLight {
  top: 30px;
  left: -12px;
  color: $color-warning-3;
  width: 48px;
  position: absolute;
  font-size: 12px;
}
.userLevelLine {
  top: 11px;
  left: 0;
  right: 0;
  height: 2px;
  z-index: 0;
  position: absolute;
  background-color: $color-warning-3;
}
