@charset "UTF-8";

.change-password-form {
  .next-input {
    width: 100%;
  }

  @media (min-width: 320px) {
    .next-col-xxs-offset-6 {
      margin-left: 25%;
    }
  }

  @media (min-width: 720px) {
    .next-col-s-offset-3 {
      margin-left: 12.5%;
    }
  }
}
