body {
  color: red;
  background-image: url('cssassets/cd7e3c88d4211a9b0b2335d1e417bb12.png');
}

.a {
  color: red;
  background: url('cssassets/cd7e3c88d4211a9b0b2335d1e417bb12.png');
}

.b {
  background-image: url(./assets/fcaa0cae8fcd6ecf465971d57fdeff85.jpg);
}

@font-face {
  font-family: 'iconfont'; /* project id 377048 */
  src: url(./assets/34032f039a2b3b449235ba9d307409ec.eot);
  src: url('cssassets/34032f039a2b3b449235ba9d307409ec.eot')
      format('embedded-opentype'),
    url('cssassets/f7efc431f760b9e8a6125054c5f4a502.woff') format('woff'),
    url('cssassets/3a70f449494ab666efaf24b72d563431.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_377048_kjcjjyweu4sra4i.svg#iconfont')
      format('svg');
}

