.careate-page {
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;

  .create-page-body {
    flex: auto;
    display: flex;
    flex-direction: row;
  }

  .create-page-footer {
    flex: 0 0 50px;
    height: 50px;
    // background-color: #f3f3f3;
    border-top: 2px solid #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    .next-btn + .next-btn {
      margin-left: 10px;
    }
  }

  .material-wrapper {
    flex: auto;
    min-width: 582px;
    display: flex;
    flex-direction: column;
  }
}

// overwrite

.create-dialog {
  overflow: hidden;
  .next-dialog-body {
    padding: 0;
    border-radius: 6px;
  }
  &.next-dialog .next-dialog-close {
    z-index: 2;
  }
}

.categories-wrapper {
  .next-tabs-strip > .next-tabs-bar {
    border-bottom: none;
  }
  .next-tabs-small .next-tabs-tab-inner {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
  }
  .next-tabs-nav {
    display: block;
  }
  .next-tabs-strip
    > .next-tabs-bar
    .next-tabs-nav-container
    .next-tabs-tab:before {
    height: 1px;
  }
}
