.buttons {
  text-align: center;
  margin-top: 33px;
}
.body {
  top: 190px;
  left: 50%;
  width: 600px;
  color: #fff;
  position: absolute;
  overflow: hidden;
  max-height: 260px;
  text-align: center;
  margin-left: -300px;
}
.wrapper {
  height: 720px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 16px 0 rgba(0,0,0,0.10);
  background-size: cover;
  background-image: url('./images/TB1DgSmSpXXXXaJXpXXXXXXXXXX-2760-1480.jpg');
  background-color: $color-brand1-1;
}
.title {
  color: #333;
  font-size: 32px;
  text-align: center;
  line-height: 48px;
  letter-spacing: 2px;
}
.primaryButton {
  color: #fff !important;
  height: 50px !important;
  padding: 0 58px !important;
  font-size: 16px !important;
  line-height: 50px !important;
}
.secondaryButton {
  color: $color-brand1-6 !important;
  height: 50px !important;
  padding: 0 58px !important;
  font-size: 16px !important;
  line-height: 50px !important;
  margin-right: 20px !important;
  border-color: $color-brand1-6 !important;
  background-color: transparent !important;
}
