# 忽略目录
build/
fixtures/
node_modules/
dist/
out/
compiled/
public/

# node 覆盖率文件
coverage/

# 忽略测试文件
/packages/*/lib/
/packages/*/esm/
/packages/*/es2017/
/packages/*/es2021/
**/tests/libs/*.js

# 忽略第三方包
/vendor/loader.js
override/

# 忽略文件
**/*-min.js
**/*.min.js

workspace/
