# 忽略目录
build/
tests/
demo/
react-materials/layouts/**/lib/
react-materials/blocks/**/lib/
node_modules/

# node 覆盖率文件
coverage/

# 忽略文件
**/*-min.js
**/*.min.js

# templorarily ignore tools
tools/clean-css-parallel
tools/css-prefix-plugin
tools/eslint-config-ice
tools/extract-css-assets-webpack-plugin
# tools/ice-devtools
tools/ice-layout-builder
# tools/ice-npm-utils
# tools/ice-scripts
tools/ice-skin-loader
tools/ice-template-builder
tools/iceworks
tools/iceworks-scaffolder
tools/koa-generator
tools/props-schema-generator
tools/uglify-parallel
tools/webpack-dev-mock
tools/webpack-plugin-import

**/templates/**
**/components/*/lib
