node_modules
.DS_Store
lerna-debug.log
npm-debug.log
mochawesome-report
.happypack
package-lock.json
yarn.lock

*/blocks/**/lib/
*/layouts/**/lib/
.eslintcache
databases
build
.vscode/
tools/ice-scripts/lib/ICE_CA
.tmp/
react-materials/components/**/lib

npmrc
tools/extract-css-assets-webpack-plugin/test/actual/
tools/extract-css-assets-webpack-plugin/lib/

# iceworks
!tools/iceworks/**/yarn.lock
!tools/iceworks/build
tools/iceworks/out
tools/iceworks/dist