node_modules
.DS_Store
.idea
lerna-debug.log
npm-debug.log
mochawesome-report
.happypack
package-lock.json
yarn.lock
yarn-error.log
tempDir
coverage/
.eslintcache
databases
build
.vscode/
.tmp/

packages/generate-project/lib
packages/ice-npm-utils/lib
