public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
# TODO: @builder/swc only require browserslist in the root node_modules
public-hoist-pattern[]=browserslist
