.header-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
  .header-content {
    max-width: 1200px;
    width: 100%;
    margin: 16px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-navbar {
    display: flex;
    flex-direction: row;
    .ice-menu {
      background: transparent;
      .ice-menu-item {
        height: 26px;
        line-height: 26px;
        padding: 0 20px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.85);
        a:hover {
          color: #bfbfbf;
        }
        .arrow-down-filling-icon {
          margin-right: 0;
          margin-top: -1px;
        }
      }
    }
  }
}

.header-balloon-content {
  width: 120px;
  padding: 10px;
  .custom-sub-menu {
    display: block;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    color: #666;
    text-decoration: none;
    &:hover {
      color: #2077ff;
    }
  }
}

@media (max-width: 750px) {
  .header-container {
    .header-navbar {
      .ice-menu .ice-menu-item {
        padding: 0 5px;
      }
    }
  }
}
