@charset "UTF-8";

@import '~@alifd/next/variables.scss';

$ice-layout-prefix: '.ice-layout' !default;

#{$ice-layout-prefix} {
  display: flex;
  flex-direction: column;
  flex: auto;

  &-has-aside {
    flex-direction: row;
  }
  &-fixable {
    height: 0;
    max-height: 100vh;
    min-height: 100vh; // @hack flex-grow not working in ie 11
    overflow: hidden;
    & #{$ice-layout-prefix}-section {
      overflow: hidden; // @hack flex-grow not working in firefox
    }
  }
  &-scrollable {
    overflow: auto !important;
    display: block !important;
  }
  #{$ice-layout-prefix}-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    &-has-aside {
      flex-direction: row;
      #{$ice-layout-prefix}-section-inner {
        flex-direction: row;
      }
    }
  }

  #{$ice-layout-prefix}-section-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  #{$ice-layout-prefix}-header {
    display: flex;
    flex: none;
    align-items: center;
  }
  #{$ice-layout-prefix}-footer {
    flex: none;
    display: block;
  }
  #{$ice-layout-prefix}-main {
    flex: auto;
    display: block;
  }
  #{$ice-layout-prefix}-aside {
    display: block;
    transition: all 0.2s linear;
  }
  #{$ice-layout-prefix}-header,
  #{$ice-layout-prefix}-footer,
  #{$ice-layout-prefix}-aside {
    .next-menu,
    .nextfd-menu {
      box-shadow: none;
      border: none;
    }
  }

}


@mixin layout-theme ($type, $bgColor, $textColor) {
  #{$ice-layout-prefix}-header-#{$type},
  #{$ice-layout-prefix}-aside-#{$type},
  #{$ice-layout-prefix}-footer-#{$type} {
    background-color: $bgColor;
    color: $textColor;
  }
}
@include layout-theme('normal', $nav-normal-bg-color, $nav-normal-text-color);
@include layout-theme('primary', $nav-primary-bg-color, $nav-primary-text-color);
@include layout-theme('secondary', $nav-secondary-bg-color, $nav-secondary-text-color);
@include layout-theme('line', $nav-normal-bg-color, $nav-normal-text-color);
