@charset "UTF-8";
@import 'scss/variable';

@mixin layout-theme ($theme, $bgColor, $textColor) {
  #{$ice-layout-prefix}-theme-#{$theme} {
    &#{$ice-layout-prefix}-header {
      background-color: $bgColor;
    }
    &#{$ice-layout-prefix}-aside {
      background-color: $bgColor;
    }
  }
}
@include layout-theme('dark', #404040, #FFF);
@include layout-theme('light', #FFF, #404040);

#{$ice-layout-prefix} {
  display: flex;
  flex-direction: column;
  flex: auto;
  background-color: #ececec;
  &-has-aside {
    flex-direction: row;
  }
  &-fixable {
    height: 0;
    max-height: 100vh;
    min-height: 100vh; // @hack flex-grow not working in ie 11
    overflow: hidden;
    & #{$ice-layout-prefix}-section {
      overflow: hidden; // @hack flex-grow not working in firefox
    }
  }
  &-scrollable {
    overflow: auto !important;
    display: block !important;
  }
  #{$ice-layout-prefix}-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    &-has-aside {
      flex-direction: row;
      #{$ice-layout-prefix}-section-inner {
        flex-direction: row;
      }
    }
  }
  #{$ice-layout-prefix}-section-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  #{$ice-layout-prefix}-header {
    display: flex;
    flex: none;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3);
    z-index: 1; // shadow 盖住 main
  }
  #{$ice-layout-prefix}-header-right {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  #{$ice-layout-prefix}-footer {
    flex: none;
    display: block;
  }
  #{$ice-layout-prefix}-main {
    flex: auto;
    display: block;
  }
  #{$ice-layout-prefix}-aside {
    display: block;
    transition: all 0.2s linear;
    flex: 0 0 200px;
    &#{$ice-layout-prefix}-aside-has-trigger {
      position: relative;
      #{$ice-layout-prefix}-aside-trigger {
        height: 40px;
        overflow: hidden;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
      }
    }
    #{$ice-layout-prefix}-aside-trigger {
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
      height: 40px;
      line-height: 40px;
      text-align: center;
      .next-icon {
        transition: all 0.2s linear;
      }
      &#{$ice-layout-prefix}-aside-trigger-collapsed {
        .next-icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}
