.section-title {
  color: #333;
  border-left: 4px solid #3080FE;
  padding-left: 5px;
  line-height: 16px;
  height: 16px;
  font-size: 14px;
}


.rhino-table {
  .next-table-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .next-table-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &.next-table th {
    background: #F0EEF6;
  }
  .next-table-row:nth-child(2n) {
    background: #F9F8FB;
  }
  a {
    outline: none;
  }
}

// table
.next-table {
  color: #666;
  .next-table-row {
    &.selected {
      background: none;
    }
  }

  .next-table-cell {
    &.first {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    &.last {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

.common-pagination {
  padding-top: 10px;
  .next-pagination-ellipsis {
    color: #fff;
  }
  .next-pagination-display {
    margin: 0 5px;
  }
  .next-pagination-item {
    border-color: #c4c6cf;
    border-radius: 5px;
    background: transparent;
    color: #fff;
  }

  .current {
    border-color: transparent;
    background: #2077ff;
    color: #ffffff;
  }

  .next-pagination-display {
    color: #fff;

    em {
      color: #4ac0fd;
    }
  }
  &.pagination-noGoButton .next-pagination-go {
    display: none;
  }
  .next-btn.disabled,
  .next-btn[disabled] {
    background-color: transparent;
  }
}

// 清楚浮动
.clearfix {
  zoom: 1;
  &:after {
    clear: both;
    content: '';
    display: block;
    visibility: hidden;
    overflow: hidden;
    line-height: 0;
  }
}
