@charset "UTF-8";

.excellent-home-page {
  position: relative;

  .title {
    text-align: center;
    font-size: 78px;
    letter-spacing: 4px;
    line-height: 60px;
    color: #000;
    margin-bottom: 30px;
  }

  .subtitle {
    width: 700px;
    font-size: 22px;
    margin: 0;
    color: #000;
    text-shadow: #c8c8c8 1px 1px 2px;
    text-align: center;
    line-height: 1.7em;
    font-weight: 100;
  }
}

@media (max-width: 999px) {
  .excellent-home-page {
    .title {
      font-size: 48px;
    }
    .subtitle {
      font-size: 18px;
      max-width: 80vw;
    }
  }
}

.excellent-home-page-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.excellent-home-page-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .excellent-home-page-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
  }

  .excellent-home-page-buttons {
    a:hover,
    a:visited,
    a:link {
      color: #fff;
    }
  }
}
