@import '~@icedesign/skin/variables.scss';

// Basic color variables
$custom-layout-bg: #fafafa;
$ice-body-bg: $color-white !default;

.ice-layout-builder.ice-design-layout-light.ice-design-layout {
  background-image: url(https://img.alicdn.com/tfs/TB1GsHCd8fH8KJjy1XbXXbLdXXa-1680-370.png);
  background-color: $custom-layout-bg;
}

$theme: 'light';

@import './base.scss';
