.custom-context-menu-container {
  min-width: 100px;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px #eee;
  outline: none;
  .custom-context-menu-item {
    padding: 10px 0;
    cursor: pointer;
    outline: none;
  }
}
