.ice-menu-custom {
  .next-nav-item {
    height: auto;
    line-height: normal;
    width: 80px;
    .next-menu-item-inner {
      height: 80px !important;
    }
    .ice-menu-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      color: #a3b1bf;
      .ice-icon-stable {
        margin-right: 0;
      }
      .ice-menu-item-text {
        margin-top: 5px;
      }
    }
    &.next-selected {
      background-color: $color-brand1-6 !important;
      .ice-menu-link {
        color: #fff;
      }
    }
  }
  .ice-menu-item-selected {
    border-radius: 0 !important;
    .ice-menu-link {
      color: #fff;
    }
  }
}
