.header-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  min-width: 1200px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  .header-content {
    width: 100%;
    height: 62px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-navbar {
    display: flex;
    flex-direction: row;
    .next-nav {
      box-shadow: none;
      border: none;
      .next-nav-item {
        color:  $color-text1-2 !important;
        &:hover {
          color:  $color-brand1-6 !important;
        }
        i {
          margin-right: 1em;
        }
      }
    }
  }

  .user-avatar {
    margin-right: 12px;
    border-radius: 4px;
  }

  .user-department {
    font-size: 12px;
    color: #999;
  }

  .ice-design-header-userpannel {
    margin-left: 20px;
    cursor: pointer;
    .user-profile {
      display: inline-block;
      text-align: center;
      margin-bottom: 2px;
      color: #999;
    }
    .icon-down {
      margin-left: 2px;
      color: #999;
    }
  }
}

.user-profile-menu {
  width: 130px;
  border-radius: 6px;
  padding: 0 16px;
  .user-profile-menu-item {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #666;
    cursor: pointer;
    a:hover {
      color: #2077ff;
    }
    i {
      margin-right: 5px;
    }
  }
}
