.startGuide {
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 60px;
      height: 60px;
    }

    .title {
      margin: 0;
      font-weight: bold;
    }
  }


  .features {
    margin-top: 30px;

    .feature {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .icon {
        margin-right: 12px;
        padding: 5px;
        border-radius: 50%;
        background: $global-bar-bg;
        color: $color-white;;
      }

      .description {
        margin: 0;
      }
    }
  }
}
