.logoStyle {
  color: $color-brand1-6;
  display: block;
  overflow: hidden;
  max-width: 180px;
  font-size: 30px;
  white-space: nowrap;
  font-weight: bold;
  text-overflow: ellipsis;
  text-decoration: none;
}
