.content {
  padding: 20px;
  background: #fff;
}
.head {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.pagination {
  text-align: right;
  padding-top: 20px;
}
.split {
  color: #999;
}
.action {
  margin: 0 8px;
}
.dot {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #ee6f6d;
  margin-right: 4px;
  border-radius: 50%;
}
