:global {
  .ice-design-layout-footer {
    background-color: transparent;
  }
}

.iceDesignLayoutFooterBody {
  width: 100%;
  margin: 20px auto 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #666;
  line-height: 1.5;
  font-size: 12px;
  text-align: left;
}

.copyrightLink {
  color: #666;
}
