.ice-menu-custom.ice-menu-root {
  height: 100%;
  padding-top: 20px;
  box-shadow: 4px 1px 12px rgba(0, 55, 107, 0.04);

  .ice-menu-item {
    height: auto;
    line-height: normal;
    .ice-menu-link {
      display: flex;
      padding: 15px 0;
      color: #666;
      font-weight: 500;
    }
  }
  .ice-menu-item-selected {
    background: #f2f2f2 !important;
    border-radius: 0 !important;
    border-right: 3px solid #447eff;
    .ice-menu-link {
      color: #447eff;
    }
    .ice-menu-link:hover {
      color: #447eff !important;
    }
  }
}
