.ice-design-layout-#{$theme} {
  &.ice-design-layout {
    min-height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .ice-layout {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background: transparent;
  }

  .ice-layout-main {
    padding: 0 0 0 20px;
  }

  .ice-layout-section {
    margin: 20px 0 0;
  }

  .setting-theme {
    position: fixed;
    margin-bottom: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #3080fe;
    right: 0;
    top: 82px;
    width: 80px;
    height: 40px;
    border-radius: 6px 0 0 6px;
    z-index: 999;
  }
}
