.ice-design-layout-dark.ice-design-layout {
  background-image: url(https://img.alicdn.com/tfs/TB1_YvwXTtYBeNjy1XdXXXXyVXa-1680-370.png);
  background-color: #2e323f;
}

$theme: 'dark';

@import './base.scss';
