.ice-design-layout-light.ice-design-layout {
  background-image: url(https://img.alicdn.com/tfs/TB1GsHCd8fH8KJjy1XbXXbLdXXa-1680-370.png);
  background-color: #fafafa;
}

$theme: 'light';

@import './base.scss';
