@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';

.react-grid-layout .react-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}
