<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>飞冰组件开发 Server</title>
</head>

<body>
  <h1>{{htmlWebpackPlugin.options.name}}</h1>
  {{#if htmlWebpackPlugin.options.demos.length}}
  <h3>DEMO 列表</h3>
  <ul>
    {{#each htmlWebpackPlugin.options.demos}}
    <li><a href="{{href}}">{{title}}</a></li>
    {{/each}}
  </ul>
  {{/if}}
  <div id="container"></div>
</body>

</html>
