.header-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid #e9e9e9;
  background: #11a0f8;
  .header-content {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-navbar {
    display: flex;
    flex-direction: row;
    .ice-menu {
      background: transparent;
      .ice-menu-submenu-title,
      .ice-menu-item {
        font-size: 14px;
        color: #fff;
        a:hover {
          color: #bfbfbf;
        }
      }

      &.ice-menu-sub {
        background: #11a0f8;
        .ice-menu-item {
          font-size: 12px;
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
}

/* HEADER */

.user-avatar {
  margin-right: 12px;
  border-radius: 4px;
}

.ice-design-header-userpannel {
  margin-left: 20px;
  cursor: pointer;
  .user-profile {
    display: inline-block;
    text-align: center;
    margin-bottom: 2px;
    color: #fff;
  }
  .icon-down {
    margin-left: 2px;
    color: #fff;
  }
}

.header-balloon-content {
  width: 120px;
  padding: 10px;
  .custom-sub-menu {
    display: block;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    color: #666;
    text-decoration: none;
    &:hover {
      color: #2077ff;
    }
  }
}

@media (max-width: 750px) {
  .header-container {
    .header-navbar {
      .ice-menu .ice-menu-item {
        padding: 0 5px;
      }
    }
  }
}
