.row {
  align-items: center;
  padding-top: 50px;
}
.title {
  color: #fff;
  font-size: 16px;
  font-weight: 450;
  margin-bottom: 20px;
}
.value {
  color: $color-data1-1;
  font-size: 40px;
  font-weight: bold;
}
