.next-form-item {
  margin-bottom: 0 !important;
}

.next-form {
  margin-top: 0 !important;
  padding-top: 0 !important;
  .next-form-item + .next-form-item {
    margin-top: 20px !important;
  }
}

.create-process {
  width: 320px;
  margin: 12px auto 0 auto;
  padding-left: 22px;
  font-size: 12px;
  color: #2eca9c;
}
