.component-card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 1px rgba(47, 53, 55, 0.1);
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  overflow: hidden;
  position: relative;
  width: 174px;
  height: 110px;
  padding: 0 5px;
  // cursor: pointer;
  transition: all 0.1s ease-in;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover {
    box-shadow: 0px 0px 2px 1px rgba(48, 128, 254, 1);
    .component-card-opts {
      display: block;
    }
  }
  .component-card-title {
    font-size: 14px;
    color: #333333;
    margin: 0;
    line-height: 17px;
    height: 34px;
  }
  .component-card-name {
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
  }
  .component-card-opts {
    display: none;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    border-radius: 3px;
    .component-card-info {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      span {
        display: inline-block;
        margin: 0 10px;
        color: #333;
      }
      a {
        color: #666;
        &:hover {
          color: #5485F7;
        }
      }
    }
    .component-card-opt {
      position: absolute;
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      left: 0;
      .component-card-opt-btn {
   
      }
    }
  }
  .component-downloaded {
    position: absolute;
    right: 3px;
    top: 0;
    z-index: 100;
  }
}