.ice-layout{
  min-width: 1200px;

  .ice-layout-section {
    padding-top: 62px;
  }

  .ice-layout-main {
    padding: 20px;
    background: #f2f2f2;
  }
  .ice-nav-item-text {
    padding: 1em;
  }
  .ice-layout-footer-normal {
    background-color: transparent;
  }
}
