.container {
  min-height: 600px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}

.title {
  text-align: center;
  color: red;
}

.description {
  margin-top: 40px;
}

.action {
  margin-top: 40px;
}
