.container {
  min-height: 600rpx;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}

.title {
  text-align: center;
  color: red;
}

.description {
  margin-top: 40rpx;
}

.action {
  margin-top: 40rpx;
}
