@import '../../../../variables.scss';

.header {
  display: flex;
  flex-direction: row;
  flex: 1;

  h3 {
    flex: 1;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .icon {
      margin-right: 12px;
      color: $brand-color-primary;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.wrap {
  display: flex;
  justify-content: center;

  .form {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      flex-direction: row;
      margin-top: 12px;
      align-items: center;
  
      .label {
        width: 80px;
      }
  
      .field {
        width: 200px;
        margin-left: 6px;
      }
  
      .help {
        color: $brand-color-secondary;
        margin-left: 10px;
      }
  
      .reload {
        cursor: pointer;
        margin-left: 6px;
      }
    }
  }
}

.modal {
  .title {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;

    > div {
      margin-right: 6px;
    }
  }

  .td {
    padding: 3px;
    word-break: break-all;

    &.frist {
      width: 40px;
    }
  }

  .status {
    color: $white;
    padding: 3px 4px;
    background-color: $error-color;

    &.success {
      background-color: $success-color;
    }
  }
}