<style>
  .wrapper {
    background-color: #fff;
    margin-bottom: 20;
  }

  .header {
    height: 60;
    line-height: '60rem';
    text-align: left;
    padding: 0 20;
    border-bottom: 1rpx solid #eee;

  }

  .title {
    font-size: 24;
    color: #666;
  }

  .task-list {
    display: flex;
    flex-direction: row;
  }

  .task-list-item {
    width: '20%';
    height: 140;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .icon {
    width: 50;
    height: 50;
  }

  .text {
    font-size: 24;
    color: #666;
  }

  .count {
    position: absolute;
    top: 10;
    right: 30;
    background-color: #1296db;
    border-radius: 15rem;
    height: 30;
    display: flex;
    align-items: center;
    padding: 0 8;
  }

  .count-text {
    font-size: 20;
    color: #fff;
  }
</style>

<template>
  <view class="wrapper">
    <view class="header">
      <text class="title">待办事项</text>
    </view>
    <view class="body">
      <view class="task-list">
        <view class="task-list-item" v-for="task in tasks">
          <image class="icon" :src="task.icon" />
          <text class="text">{{task.text}}</text>
          <view class="count" v-if="task.count !== 0"><text class="count-text">{{task.count}}</text></view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
  export default {
    data() {
      return {
        tasks: [{
          icon: require('./images/price.png'),
          text: '待付款',
          count: 0
        }, {
          icon: require('./images/fly.png'),
          text: '待发货',
          count: 3
        }, {
          icon: require('./images/refund.png'),
          text: '待退款售后',
          count: 4
        }, {
          icon: require('./images/like.png'),
          text: '待评价',
          count: 0
        }, {
          icon: require('./images/car.png'),
          text: '物流异常',
          count: 0
        }]
      }
    },
  };
</script>
