@charset "UTF-8";

.flow-statistics {
  .next-tabs {
    overflow: visible;
  }
  .next-tabs-bar {
    position: absolute;
    top: -48px;
    right: 0;
  }
  .next-tabs-tab.active {
    border-bottom: 1px solid #2077ff;
  }
  .next-tabs-text > .next-tabs-bar .next-tabs-tab:after {
    width: 0;
  }
}

@media screen and (max-width: 720px) {
  .flow-statistics {
    .next-tabs-small .next-tabs-tab-inner {
      padding: 0 5px;
    }
  }
}
