.box {
  min-height: 124px;
  min-width: 30px;
  background: #f7f8fa;
  border-radius: 4px;
  padding: 12px;

  .box-title {
    span {
      display: inline-block;
      line-height: 20px;
      font-size: 14px;
      color: #333;
      margin-left: 8px;
    }

    .box-icon {
      text-align: center;
      display: inline-block;
      width: 28px;
      height: 28px;
      line-height: 28px;
      background: #37a2f7;
      border-radius: 4px;
      margin-left: 0;
      background-color: #4cb587;

      .icon {
        color: #fff;
      }
    }
  }

  .box-list {
    display: flex;
    justify-content: space-between;
  }

  .box-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 20px;

    .box-value {
      font-size: 20px;
      color: #333;
      text-align: center;
    }

    .box-lable {
      font-size: 12px;
      color: #333;
      margin-left: 4px;
    }

    .box-key {
      font-size: 12px;
      color: $color-text1-2;
    }
  }
}