@charset "UTF-8";

.operation-table {
  .operation-table-operation {
    a {
      margin-right: 12px;
      text-decoration: none;
    }
  }
  .operation-table-operation-item {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 999px;
    color: #929292;
    background: #f2f2f2;
    text-align: center;
    cursor: pointer;
    line-height: 24px;
    margin-right: 6px;
    transition: all ease 0.3s;
  }
  .next-table-row:hover {
    .operation-table-operation-item {
      background: #fff;
    }
  }
}
