.aside-custom-menu {
  .user-info {
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: center;
    padding: 20px 0;
    .user-avatar {
      margin-right: 12px;
      border-radius: 4px;
    }

    .user-department {
      font-size: 12px;
    }
  }
  .ice-menu-custom.ice-menu-root {
    background: #fff !important;
    height: 100vh;
    .ice-menu-item {
      height: auto;
      line-height: normal;
      .ice-menu-link {
        padding: 20px 0;
        color: #666;
      }
    }
    .ice-menu-item-selected {
      border-radius: 0 !important;
      border-left: 3px solid #447eff;
      background: #f5f5f5 !important;
      .ice-menu-link {
        color: #666;
        &:hover {
          color: #666 !important;
        }
      }
    }
  }
}
