@charset "UTF-8";

.complex-filter {
  .tab-filter-item {
    cursor: pointer;
    text-align: center;
    border-bottom: 3px solid #fff;
    width: 40px;
    margin: 0 20px;
    white-space: nowrap;
    padding-bottom: 15px;
    &:hover,
    &.active {
      color: #3080fe;
      border-bottom-color: #3080fe;
    }
  }

  .filter-belonging-item {
    cursor: pointer;
    font-size: 14px;
    color: #666;
    margin-right: 20px;
    &.active,
    &:hover {
      color: #000;
      font-weight: bold;
    }
  }
}
