@import '~@icedesign/base/lib/core/index.scss';

$color-bg: #ECEFF5;
$color-bg-hover: #3E2F7E;
#ice-container .ice-admin-aside-layout {
  font-family: PingFangSC-Regular;
  background-color: $color-bg;
  min-width: 1280px;
}
