.start-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  .start-recommend-scaffolds {
    display: flex;
  }
  .start-panel-desc {
    margin: 20px 0;
    color: #666;
  }
}

.poject-config-dialog {
  width: 500px;
  height: 306px;
  .next-dialog-footer {
    padding: 0;
  }
}

.project-config-footer {
  background: #f3f3f3;
  padding: 18px 0;
  text-align: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.project-config-path {
  padding: 6px 0;
  font-size: 12px;
  line-height: 24px;
}
.project-config-form-item-error-message {
  font-size: 12px;
  color: #fa7070;
  margin-top: 6px;
}
