@import '../../variables.scss';

.page {
  display: flex;
  height: 100%;

  .main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    overflow-y: scroll;
  }
}
  