@import '../../variables.scss';

.page {
  display: flex;
  height: 100%;

  .main {
    flex: 1;
    margin: 20px;
  }

  .guide {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text {
      color: $text-color-secondary;
      font-size: $font-size-md;
      margin-bottom: 24px;
    }

    .opts {
      .btn {
        margin-right: 24px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
  