.container {
  margin-bottom: 20px;
  box-shadow: 0 8px 24px rgba(163, 177, 191, 0.35);
  background: #fff;
  transition: transform 0.3s ease;
  display: block;
  cursor: pointer;
  padding: 16px;
  text-align: left;
  &:hover {
    text-decoration: none;
    transform: translateY(-6px);
  }
}

.title {
  margin: 0 0 5px;
  color: #333;
  height: 30px;
  line-height: 1.6;
  font-weight: 500;
}

.desc {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
