@import '../../variables.scss';

.container {
  position: relative;
  box-shadow: 0 -2px 10px rgba(51, 51, 51, 0.35);
  z-index: 9;

  .globalTerminal {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 -2px 10px rgba(51, 51, 51, 0.35);
    display: block;
  }

  .hidden {
    display: none;
  }

  .closeIcon {
    position: absolute;
    right: 40px;
    z-index: 9;
    top: 10px;
    cursor: pointer;
  }

  .globalBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: auto 0 0;
    height: 40px;
    padding: 0 20px;
    background: $global-bar-bg;
    color: $color-white;
    box-shadow: $shadow-up;

    .projectName {
      max-width: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .leftContent,
    .rightContent {
      display: flex;
      .item {
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: 40px;
        cursor: pointer;
        .icon {
          margin-right: 5px;
        }
        &:hover {
          background: $brand-color-primary;
        }
      }
    }

    .leftContent {
      .item:first-child {
        cursor: default;
        &:hover {
          background: none;
        }
      }
    }
  }
}
