@import '../../variables.scss';

.container {
  position: relative;
  box-shadow: 0 -2px 10px rgba(51, 51, 51, .35);
  z-index: 9;

  .globalTerminal {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 -2px 10px rgba(51, 51, 51, .35);
  }

  .globalBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: auto 0 0;
    height: 40px;
    padding: 0 20px;
    background: $global-bar-bg;
    color: $color-white;
    box-shadow: $shadow-up;

    .leftContent,
    .rightContent {
      display: flex;
    }

    .item {
      display: flex;
      align-items: center;
      margin: 0 10px;
      cursor: pointer;
      .icon {
        margin-right: 5px;
      }
    }
  }
}
