{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
          "node": "current"
        }
      }
    ],
    ["@babel/preset-stage-0", { "decoratorsLegacy": true }]
  ]
}
