// light styles
$ice-body-bg: #fff !default;
$ice-layout-bg: #2e323f !default;
$collapse-btn-color: #fff !default;

$ice-icon-down-color: #fff !default;
$ice-header-menu-bg: transparent !default;
$ice-header-text-color: #fff !default;
$ice-header-text-hover-color: #fff !default;

$ice-aside-bg: transparent !default;
$ice-aside-menu-bg: transparent !default;
$ice-aside-text-color: #fff !default;
$ice-aside-sub-text-color: #8c8c8c !default;
$ice-aside-text-hover-color: #1861d5 !default;
$ice-aside-menu-item-selected-gradient-left-bg: #1861d5 !default;
$ice-aside-menu-item-selected-gradient-right-bg: #3080fe !default;
$ice-aside-menu-item-selected-text-color: #fff !default;
$ice-aside-menu-submenu-item-hover-bg: transparent !default;
$ice-aside-menu-submenu-vertical-bg: #fff !default;
$ice-aside-menu-collapse-bg: transparent !default;
$ice-menu-collapse-text-color: #fff !default;
$ice-aside-menu-collapse-selected-text-color: #3080fe !default;

.ice-design-dark.ice-design-layout {
  background-image: url(https://img.alicdn.com/tfs/TB1_YvwXTtYBeNjy1XdXXXXyVXa-1680-370.png);
}
