// light styles
$ice-body-bg: #fff !default;
$ice-layout-bg: #fafafa !default;
$collapse-btn-color: #666 !default;
$logo-text-color: #3080fe !default;

$ice-icon-down-color: #666 !default;
$ice-header-menu-bg: transparent !default;
$ice-header-text-color: #666 !default;
$ice-header-text-hover-color: #3080fe !default;

$ice-aside-bg: transparent !default;
$ice-aside-menu-bg: transparent !default;
$ice-aside-text-color: #666 !default;
$ice-aside-sub-text-color: #666 !default;
$ice-aside-text-hover-color: #3080fe !default;
$ice-aside-menu-item-selected-gradient-left-bg: #1861d5 !default;
$ice-aside-menu-item-selected-gradient-right-bg: #3080fe !default;
$ice-aside-menu-item-selected-text-color: #fff !default;
$ice-aside-menu-submenu-item-hover-bg: transparent !default;
$ice-aside-menu-submenu-vertical-bg: #fff !default;
$ice-aside-menu-collapse-bg: transparent !default;
$ice-menu-collapse-text-color: #666 !default;
$ice-aside-menu-collapse-selected-text-color: #3080fe !default;

$copyright-text-color: #666 !default;
$copyright-text-hover-color: #3080fe !default;

.ice-design-light.ice-design-layout {
  background-image: url(https://img.alicdn.com/tfs/TB1GsHCd8fH8KJjy1XbXXbLdXXa-1680-370.png);
}

$theme: 'light';

@import './base.scss';
