// dark styles
$ice-body-bg: #fff !default;
$ice-layout-bg: #fafafa !default;
$ice-logo-border-bottom-color: #222 !default;

$ice-admin-layout-header-bg: #fff !default;
$ice-admin-layout-header-text-color: #666 !default;
$ice-admin-layout-header-text-hover-color: #999 !default;

$ice-layout-aside-bg: #222d32 !default;
$ice-layout-aside-text-color: #b6acac !default;
$ice-layout-aside-text-hover-color: #fff !default;

$ice-menu-item-selected-gradient-left-bg: #1861d5 !default;
$ice-menu-item-selected-gradient-right-bg: #3080fe !default;
$ice-menu-item-selected-text-color: #fff !default;

$ice-menu-submenu-item-hover-bg: transparent !default;
$ice-menu-submenu-vertical-bg: #222d32 !default;

$ice-menu-collapse-bg: transparent !default;
$ice-menu-collapse-selected-text-color: #3080fe !default;
