@import '../../variables.scss';

.connectionBar {
  flex: auto 0 0;
  height: 40px;
  background: $warning-color;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}
