@charset "UTF-8";

@import '~@alifd/next/lib/core/index.scss';
@import 'scss/variable';

@mixin bt-label-variant($color) {
  background-color: $color;
  &[href] {
    &:hover,
    &:focus {
      background-color: darken($color, 10%);
    }
  }
}

.#{$ice-label-prefix} {
  display: inline-block;
  padding: 0.3em 0.6em;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: $color-fill1-1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;

  a {
    color: inherit;
    text-decoration: none;
  }

  &:empty {
    display: none;
  }

  &.#{$ice-label-prefix}-default {
    @include bt-label-variant($color-text1-3);
    &.#{$ice-label-prefix}-no-inverse {
      color: $color-text1-3;
      @include bt-label-variant($color-fill1-1);
    }
  }

  &.#{$ice-label-prefix}-primary {
    @include bt-label-variant($color-brand1-6);
    &.#{$ice-label-prefix}-no-inverse {
      color: $color-brand1-6;
      @include bt-label-variant($color-brand1-1);
    }
  }

  &.#{$ice-label-prefix}-success {
    @include bt-label-variant($color-success-3);
    &.#{$ice-label-prefix}-no-inverse {
      color: $color-success-3;
      @include bt-label-variant($color-success-1);
    }
  }

  &.#{$ice-label-prefix}-info {
    @include bt-label-variant($color-notice-3);
    &.#{$ice-label-prefix}-no-inverse {
      color: $color-notice-3;
      @include bt-label-variant($color-notice-1);
    }
  }

  &.#{$ice-label-prefix}-warning {
    @include bt-label-variant($color-warning-3);
    &.#{$ice-label-prefix}-no-inverse {
      color: $color-warning-3;
      @include bt-label-variant($color-warning-1);
    }
  }

  &.#{$ice-label-prefix}-danger {
    @include bt-label-variant($color-error-3);
    &.#{$ice-label-prefix}-no-inverse {
      color: $color-error-3;
      @include bt-label-variant($color-error-1);
    }
  }
}

//相邻的之间的加个 5 像素的 margin
.#{$ice-label-prefix} + .#{$ice-label-prefix} {
  margin-left: 5px;
}
