<div class="jumbotron">
  <h1 class="display-4"> 欢迎使用 {{ title }}</h1>
  <p class="lead">这是一个基于 Angular6 + Bootstrap4 的项目模板，你可以参考文档
    <a target="_blank" href="https://v4.bootcss.com/docs">https://v4.bootcss.com/docs
    </a>中的组件示例来完成项目，或使用物料源中的区块组合完成。
  </p>
  <hr class="my-4">
  <p>例如目前的介绍段落就是使用
    <a href="https://v4.bootcss.com/docs/4.0/components/jumbotron/" target="_blank">
      <code>jumbotron</code>
    </a> 组件。
  </p>
  <p>或者一些高级的组件，例如 Modal
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">打开 modal
    </button>
  </p>
  <a class="btn btn-primary btn-lg" href="https://v4.bootcss.com/docs" role="button">学习更多
  </a>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Welcome to Home!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
