@charset "UTF-8";

.register-form {
  display: flex;
  justify-content: center;
  .form {
    padding: 30px 40px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #eee;
    h4 {
      margin: 0 0 20px;
      text-align: center;
      color: #3080FE;
      letter-spacing: 12px;
    }
    .next-input.next-input-single {
      width: 240px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-color: #DCDCDC;
      input {
        padding-left: 25px;
        font-size: 13px;
      }
    }
    .next-form-item {
      margin-bottom: 25px;
    }
    i,
    .next-checkbox-label {
      color: #999;
      font-size: 13px;
    }
    i {
      position: absolute;
      left: 0;
      top: 3px;
    }
    button {
      width: 240px;
      background: #3080FE;
      border-radius: 28px;
    }
    .tips {
      text-align: center;
      a {
        color: #999;
        text-decoration: none;
        font-size: 13px;
      }
      span {
        color: #dcd6d6;
        margin: 0 8px;
      }
    }
  }
}
