@import '~@icedesign/skin/variables.scss';

.logo {
  max-width: 200px;
  height: 42px;
  margin-bottom: 20px;
  line-height: 42px;
  display: flex;
  align-items: center;
  .logo-text {
    display: block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
    font-size: 22px;
    color: $color-text1-2;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
  }
}
