.history-page {
  .next-progress-circle-overlay-normal {
    stroke: #2F7FFC;
  }

  .next-progress-line-overlay-normal {
    background-color: #2DCA9C;
  }

  .next-pagination-item.current, .next-pagination-item.current:focus {
    background-color: #2F7FFC;
  }
}
