.formView {
  .formView-col-label {
    text-align: right;
    color: #525252;
  }
  .formView-col-field {
    padding-left: 10px;
    word-break: break-word;
    color: #999;
  }
  .formView-row {
    margin-bottom: 15px;
  }
}
