
.aside {
  width: 160px;
  height: 100%;
  position: relative;
  transition: all ease 0.3s;
}

.asideCollapsed {
  width: 60px;
}

.collapseBtn {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #666;
  color: #666;
  cursor: pointer;
}
