@charset "UTF-8";

.filter-list {
  .select-item {
    &.active, &:hover {
      color: #3080fe !important;
    }
    &:first-child {
      padding-left: 0 !important;
    }
    &:last-child {
      padding-right: 0 !important;
      border-right-width: 0 !important;
    }
  }
}
