@import '../../variables.scss';

.materialCategories {
  margin: 20px 0 20px;
  padding: 20px 10px;
  overflow: hidden;
  background: $panel-bg;
  box-shadow: 0 8px 24px $material-card-shadow;
  border-radius: 4px;
  li {
    float: left;
    background: $panel-bg;
    border-radius: 24px;
    margin: 10px;
    transition: all 0.3s ease;
    color: $text-color-inverse;
    &.active {
      background: $brand-color-primary;
      a,
      a:hover {
        color: $text-color-inverse;
        transition: all 0.3s ease;
      }
    }
    &:last-child {
      margin-right: 10px;
    }
    &:hover {
      color: $text-color-inverse;
      background: $brand-color-primary;
    }
    span {
      font-size: 13px;
      height: 24px;
      line-height: 24px;
      padding: 0 18px;
      color: $text-color-secondary;
      display: block;
      cursor: pointer;
      
      &:hover {
        color: $text-color-inverse;
        text-decoration: none;
        transition: all 0.3s ease;
      }
    }
  }
}