<style>
  .tab-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #fff;
  }

  .tab-item {
    width: 33.33%;
    flex: 0 0 33.33;
    height: 96rpx;
    text-align: center;
    line-height: 96rpx;
    border-bottom: 1rpx solid #eee;
  }

  .tab-item-current {
    border-bottom: 1rpx solid #36c;
  }

  .tab-text {
    font-size: 28rpx;
  }

  .product-item-wrapper {
    background-color: #fff;
    margin-bottom: 20rpx;
    padding: 20rpx;
  }

  .product-item {
    display: flex;
    flex-direction: row;
  }

  .pic-wrapper {}

  .product-detail {
    padding-left: 20rpx;
    text-align: left;
  }

  .pic {
    width: 160rpx;
    height: 160rpx;
    display: block;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 38rpx;
  }

  .titleWrapper {
    line-height: 40rpx;
    margin-bottom: 6rpx;
  }

  .title {
    font-size: 28rpx;
    line-height: 40rpx;
    text-align: left;
  }

  .code {
    font-size: 24rpx;
  }

  .count {
    font-size: 24rpx;
  }

  .price {
    font-size: 24rpx;
    color: #f60;
  }

  .expdate {
    font-size: 24rpx;
  }

  .button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20rpx;
  }

  .button {
    width: 200rpx;
    text-align: center;
    border: 2rpx solid #eee;
    border-radius: 10rpx;
    line-height: 54rpx;
  }

  .button-text {
    font-size: 28rpx;
  }
</style>
<template>
  <view class="wrapper">
    <view class="tab-wrapper">
      <view @click="tabActivate('tab1')" v-bind:class="{'tab-item': true, 'tab-item-current': current == 'tab1'}">
        <text class="tab-text">出售中 123</text>
      </view>
      <view @click="tabActivate('tab2')" v-bind:class="{'tab-item': true, 'tab-item-current': current == 'tab2'}">
        <text class="tab-text">仓库中 33</text>
      </view>
      <view @click="tabActivate('tab3')" v-bind:class="{'tab-item': true, 'tab-item-current': current == 'tab3'}">
        <text class="tab-text">已售完 455</text>
      </view>
    </view>
    <view class="tab-panel" v-if="current == 'tab1'">
      <view class="product-list">
        <view class="product-item-wrapper" v-for="item in products">
          <view class="product-item">
            <view class="pic-wrapper">
              <image class="pic" :src="item.picUrl" />
            </view>
            <view class="product-detail">
              <view class="titleWrapper">
                <text class="title">{{item.title}}</text>
              </view>
              <view class="row">
                <text class="code">{{item.code}}</text>
                <text class="count">库存{{item.count}}</text>
              </view>
              <view class="row">
                <text class="price">¥{{item.price}}</text>
                <text class="expdate">剩余{{item.expdate}}下架</text>
              </view>
            </view>
          </view>
          <view class="button-wrapper">
            <view class="button"><text class="button-text">下架</text></view>
            <view class="button"><text class="button-text">复制链接</text></view>
            <view class="button"><text class="button-text">分享宝贝</text></view>
          </view>
        </view>
      </view>
    </view>
    <view class="tab-panel" v-if="current == 'tab2'">内容区域2</view>
    <view class="tab-panel" v-if="current == 'tab3'">内容区域3</view>
  </view>
</template>
<script>
  export default {
    data() {
      return {
        current: 'tab1',
        products: [{
          title: "针织连衣裙早秋装女装2018新款韩版气质夏季包臀正式场合一步裙子",
          code: "KnRqtz",
          picUrl:
            "https://g-search1.alicdn.com/img/bao/uploaded/i4/imgextra/i1/96006781/TB2LnuTqZIrBKNjSZK9XXagoVXa_!!0-saturn_solar.jpg_460x460.jpg",
          price: "75",
          count: "159",
          expdate: "1天18小时7分",
        }, {
          title: "套装裙子春秋装女2018新款时尚毛衣长袖半身裙两件套中长款连衣裙",
          code: "TkYbk",
          picUrl:
            "https://g-search2.alicdn.com/img/bao/uploaded/i4/i2/2085738623/TB232FtxiQnBKNjSZFmXXcApVXa_!!2085738623-0-item_pic.jpg_460x460.jpg",
          price: "30",
          count: "137",
          expdate: "7天20小时19分",
        }, {
          title: "2018新款sukol裙雾霾蓝水溶蕾丝连衣裙A字裙子少女心超仙初恋裙夏",
          code: "rkJkR",
          picUrl:
            "https://g-search3.alicdn.com/img/bao/uploaded/i4/i2/3101151379/TB2p7E3sljTBKNjSZFwXXcG4XXa_!!3101151379-0-item_pic.jpg_460x460.jpg",
          price: "194",
          count: "188",
          expdate: "7天5小时44分1",
        }, {
          title: "谷家 T+麻长裙两件套 文艺气质宽松休闲显瘦亚麻吊带裙 连衣裙",
          code: "Fkpscy",
          picUrl:
            "https://g-search3.alicdn.com/img/bao/uploaded/i4/i3/TB12GB7gQSWBuNjSszdYXHeSpXa_M2.SS2_460x460.jpg",
          price: "52",
          count: "189",
          expdate: "2天16小时15分",
        }, {
          title: "FENDAS中长款宽松绣花白色真丝欧根纱无袖蕾丝连衣裙女夏2018新款",
          code: "jxtYufz",
          picUrl:
            "https://g-search2.alicdn.com/img/bao/uploaded/i4/i2/1710310361/TB2Qn_ug8jTBKNjSZFNXXasFXXa_!!1710310361.jpg_460x460.jpg",
          price: "166",
          count: "191",
          expdate: "7天3小时2分",
        }]
      };
    },
    methods: {
      tabActivate(key) {
        this.$data.current = key
      }
    }
  }
</script>
