.header-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  min-width: 1200px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  .header-content {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-navbar-menu {
    margin-left: 90px;
  }

  .header-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    .ice-menu {
      .ice-menu-item {
        font-size: 14px;
        color: #666;
      }
    }
  }

  .user-avatar {
    margin-right: 12px;
    border-radius: 4px;
  }

  .user-department {
    font-size: 12px;
    color: #666;
  }

  .ice-design-header-userpannel {
    margin-left: 20px;
    cursor: pointer;
    .user-profile {
      display: inline-block;
      text-align: center;
      margin-bottom: 2px;
      color: #666;
    }
    .icon-down {
      margin-left: 2px;
    }
  }
}

.user-profile-menu {
  width: 130px;
  border-radius: 6px;
  padding: 0 16px;
  .user-profile-menu-item {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #666;
    cursor: pointer;
    a:hover {
      color: #2077ff;
    }
    i {
      margin-right: 5px;
    }
  }
}
