.actionBar {
  display: flex;
  justify-content: space-between;
  flex: auto 0 0;

  .leftButton {
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
  }

  .rightButton {
    display: inline-flex;
    align-items: center;
  }

  .icon {
    margin-right: 5px;
  }
}
