.container {
  min-height: 600px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}

.title {
  font-size: 40px;
  text-align: center;
}

.description {
  margin-top: 40px;
}

.action {
  margin-top: 40px;
}