.ice-menu-custom.ice-menu-root {
  box-shadow: 4px 1px 12px rgba(0, 55, 107, 0.04);
  height: 100vh;
  background: #fff !important;
  .ice-menu-item {
    height: auto;
    line-height: normal;
    .ice-menu-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      color: #666;
      .ice-icon-stable {
        margin-right: 0;
      }
      .ice-menu-item-text {
        margin-top: 5px;
      }
    }
  }
  .ice-menu-item-selected {
    border-radius: 0 !important;
    .ice-menu-link {
      color: #fff;
    }
  }
}
