.ice-menu-custom {
  box-shadow: 4px 1px 12px $color-brand1-6;
  height: 100vh;
  &.next-nav {
    width: 120px;
    .next-menu-item {
      height: 80px !important;
      padding: 0;
      line-height: normal;
      .next-menu-item-inner {
        height: auto !important;
        width: 100%;
      }
      &.next-selected {
        background-color: $color-brand1-6 !important;
        .ice-menu-link {
          color: #fff;
        }
      }
    }
  }

  .ice-menu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    color: #666;
    .ice-icon-stable {
      margin-right: 0;
    }
    .ice-menu-item-text {
      margin-top: 5px;
    }
  }
}
