@import '~@icedesign/base/lib/core/index.scss';

$prefixCls: 'home';
.page-#{$prefixCls} {
  .navigation-label {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .actions-split {
    margin: 0 8px;
    color: $color-brand1-5;
  }
  .next-search .next-select {
    border-radius: 4px 0 0 4px;
  }
  .next-search .next-search-lt {
    border-radius: 6px 0 0 6px;
  }
  .next-search .next-btn {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .#{$prefixCls}-new {
    float: right;
    color: #fff;
    background: $color-brand1-5;
    border-style: none;
  }
  .#{$prefixCls}-main {
    background: #fff;
    padding: 20px;
  }
  .#{$prefixCls}-search {
    float: left;
  }
  .#{$prefixCls}-header {
    margin-bottom: 30px;
  }
  .#{$prefixCls}-pagination-right {
    text-align: right;
    margin-top: 15px;
  }
}
