body {
  color: red;
  background-image: url(//img.alicdn.com/tfs/TB1zSOZrFGWBuNjy0FbXXb4sXXa-1024-1024.png);
}

.a {
  color: red;
  background: url(//img.alicdn.com/tfs/TB1zSOZrFGWBuNjy0FbXXb4sXXa-1024-1024.png);
}

.b {
  background-image: url(/build/assets/fcaa0cae8fcd6ecf465971d57fdeff85.jpg);
}

@font-face {
  font-family: 'iconfont'; /* project id 377048 */
  src: url(/build/assets/34032f039a2b3b449235ba9d307409ec.eot);
  src: url('../cssassets/34032f039a2b3b449235ba9d307409ec.eot')
      format('embedded-opentype'),
    url('../cssassets/f7efc431f760b9e8a6125054c5f4a502.woff') format('woff'),
    url('../cssassets/3a70f449494ab666efaf24b72d563431.ttf') format('truetype'),
    url('../cssassets/b1b72dfa538406f3897c40ab412b4183.xml')
      format('svg');
}

