.card-list {
  display: flex;
}

.card-item {
  flex: 1;
  border-radius: 1px solid #c8ced3;
  background-color: #2eadd3;
  border-radius: 0.25rem;
  color: #fff;
}

.text-value {
  font-size: 28px;
}
