<style>
  .scroll-view-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200rpx;
    padding: 0 40rpx;
    font-size: 28rpx;
    color: #333;
    background: #ffffff;
    margin-bottom: 20rpx;
  }

  .itemBody {
    display: flex;
    align-items: center;
  }

  .itemIcon {
    width: 60rpx;
    height: 60rpx;
    margin-right: 20rpx;
  }

  .arrowIcon {
    width: 30rpx;
    height: 30rpx;
  }
</style>

<template>
  <scroll-view style="height: 100%" :scroll-y="true" scroll-with-animation>
    <navigator :url="item.url" v-for="item in items">
      <view class="scroll-view-item">
        <view class="itemBody">
          <image class="itemIcon" :src="item.icon" />
          <text>{{item.text}}</text>
        </view>
        <image class="arrowIcon" src="https://img.alicdn.com/tfs/TB14khkFqmWBuNjy1XaXXXCbXXa-200-200.png" />
      </view>
    </navigator>
  </scroll-view>
</template>

<script>
  export default {
    data() {
      return {
        items: [
          { text: '新建', url: '../new/index', icon: 'https://gw.alicdn.com/tfs/TB1IwQbFhGYBuNjy0FnXXX5lpXa-200-200.png' },
          { text: '草稿箱', url: '../drafts/index', icon: 'https://gw.alicdn.com/tfs/TB1IJqYFkyWBuNjy0FpXXassXXa-200-200.png' },
          { text: '我的文章', url: '../posts/index', icon: 'https://gw.alicdn.com/tfs/TB1k.O8FeuSBuNjy1XcXXcYjFXa-200-200.png' },
          { text: '个人设置', url: '../settings/index', icon: 'https://gw.alicdn.com/tfs/TB1DJXBFDtYBeNjy1XdXXXXyVXa-200-200.png' },
        ]
      }
    },
  };
</script>
