@charset "UTF-8";

.basic-detail-info {
  .info-item {
    ul {
      overflow: hidden;
      padding: 0;
      margin-left: 25px;
      li {
        float: left;
        width: 50%;
        margin-bottom: 18px;
        list-style: none;
        font-size: 14px;
        span {
          &:first-child {
            min-width: 70px;
            color: #999;
          }
          &:last-child {
            color: #333;
          }
        }
        .attach-pics {
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
