.row {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  .label {
    text-align: right;
    padding-right: 20px;
  }
}

:global {
  .next-radio-button > label.checked {
    border-color: #fff;
  }
}
