.formTitle {
  margin: 0 0 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.formLabel {
  text-align: right;
  line-height: 1.7rem;
  padding-right: 10px;
  color: $color-text1-2;
}
.formRow {
  margin-bottom: 20px;
}
.formErrorWrapper {
  margin-top: 5px;
}
