.ice-design-layout {
  min-width: 1200px;

  .ice-layout-section {
    padding-top: 62px;
  }

  .ice-layout-main {
    margin-top: 60px;
    padding: 20px;
    background: $color-fill1-2;
  }

  .next-table th {
    color: $color-text1-4;
    background: $color-fill1-1;
  }
}
