// @import './theme/light.scss';
@import './theme/dark.scss';

html,
body {
  background-color: $ice-body-bg;
  -webkit-font-smoothing: antialiased;
}

body.collapse {
  .logo {
    width: 60px;
    .logo-text {
      font-size: 20px;
    }
  }
}

.logo {
  width: 200px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  .logo-text {
    font-size: 36px;
    color: #3080fe;
    font-weight: bold;
    font-family: 'Helvetica, sans-serif';
  }
}

.balloon-container {
  width: 120px;
  border-radius: 6px;
  .balloon-item {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    i {
      margin-right: 5px;
    }
  }
}

/* LAYOUT */
.ice-design-layout {
  width: 100%;
  min-width: 1280px;
  padding: 0 20px;
  background-color: $ice-layout-bg;
  background-size: 100%;
  background-repeat: no-repeat;

  /* HEADER */
  .ice-design-layout-header {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    background: transparent;
    .ice-design-layout-header-menu .ice-menu {
      background: $ice-header-menu-bg;
      color: $ice-header-text-color;
      .ice-menu-item:hover,
      .ice-menu-item > a:hover {
        color: $ice-header-text-hover-color;
      }
    }
    .ice-design-layout-header-username {
      cursor: pointer;
      color: $ice-header-text-color;
    }
    .icon-down {
      margin-left: 4px;
      color: $ice-icon-down-color;
    }
  }

  /* ASIDE */
  .ice-design-layout-aside {
    background: $ice-aside-bg;

    .collapse-btn {
      cursor: pointer;
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      color: $collapse-btn-color;
    }

    .ice-menu {
      background: $ice-aside-menu-bg;
    }

    .ice-menu.ice-menu-root.ice-menu-inline
      > .ice-menu-submenu
      > .ice-menu-submenu-title,
    .ice-menu.ice-menu-root.ice-menu-inline > .ice-menu-item {
      color: $ice-aside-text-color;
      font-weight: bold;
    }

    .ice-menu.ice-menu-root .ice-menu-inline > .ice-menu-item {
      color: $ice-aside-sub-text-color;
    }

    .ice-menu .ice-menu-item > a:hover,
    .ice-menu.ice-menu-horizontal > .ice-menu-item:hover,
    .ice-menu.ice-menu-root > .ice-menu-item > a:hover {
      color: $ice-aside-text-hover-color;
    }

    .ice-menu:not(.ice-menu-horizontal) .ice-menu-item-selected {
      border-radius: 6px;
      background-image: linear-gradient(
        90deg,
        $ice-aside-menu-item-selected-gradient-left-bg 0%,
        $ice-aside-menu-item-selected-gradient-right-bg 100%
      );
    }

    .ice-menu .ice-menu-submenu-vertical > .ice-menu:after {
      background: $ice-aside-menu-submenu-vertical-bg;
    }

    .ice-menu:not(.ice-menu-horizontal) .ice-menu-item-selected:before,
    .ice-menu-sub .ice-menu-item:hover:before {
      width: 0;
    }

    .ice-menu-item-selected > a {
      color: $ice-aside-menu-item-selected-text-color;
    }

    .ice-menu-item:hover {
      background: $ice-aside-menu-submenu-item-hover-bg;
      color: #1861d5;
    }

    /* ASIDE COLLAPSED */
    .ice-menu.ice-menu-collapse {
      color: $ice-menu-collapse-text-color;
      .ice-menu-sub {
        background: #fff;
      }
      .ice-menu .ice-menu-item > a:hover {
        color: $ice-aside-text-hover-color;
      }
    }

    .ice-menu.ice-menu-collapse
      .ice-menu-submenu.ice-menu-submenu-active
      > .ice-menu-submenu-title {
      background: transparent;
      color: $ice-aside-menu-item-selected-gradient-right-bg;
      &:hover:before {
        width: 0;
      }
    }

    .ice-menu.ice-menu-collapse
      > .ice-menu-submenu-active
      > .ice-menu-submenu-title:before,
    .ice-menu.ice-menu-collapse
      > .ice-menu-submenu-selected
      > .ice-menu-submenu-title:before,
    .ice-menu.ice-menu-collapse .ice-menu-item:hover:before {
      width: 0;
    }

    .ice-menu.ice-menu-collapse
      .ice-menu:not(.ice-menu-horizontal)
      .ice-menu-item-selected {
      background: $ice-aside-menu-collapse-bg;
      a {
        color: $ice-aside-menu-collapse-selected-text-color;
      }
    }

    .ice-menu.ice-menu-collapse
      > .ice-menu-submenu-selected
      > .ice-menu-submenu-title {
      background-image: linear-gradient(
        90deg,
        $ice-aside-menu-item-selected-gradient-left-bg 0%,
        $ice-aside-menu-item-selected-gradient-right-bg 100%
      );
      color: $ice-aside-menu-item-selected-text-color;
      &:before {
        width: 0;
      }
    }
  }

  /* FOOTER */
  .ice-design-layout-footer-body {
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .copyright {
      color: #666;
      line-height: 1.5;
      font-size: 12px;
      text-align: left;
    }
    .copyright-link {
      color: #666;
      &:hover {
        color: #1861d5;
        text-decoration: none;
      }
    }
  }
}
