@charset "UTF-8";

.info-display-tab {
  .column-card {
    float: left;
    width: 284px;
    overflow: hidden;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    height: 310px;
    position: relative;
    margin-right: 16px;
    margin-bottom: 16px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .column-card-desc {
    height: 144px;
    overflow: hidden;
    line-height: 24px;
    font-size: 14px;
    color: #666;
    margin: 5px auto 0 auto;
  }

  .titleStyle {
    font-size: 18px;
    text-align: center;
    margin-top: 22px;
  }
}
