.user-register {
  .next-input.next-input-single {
    width: 368px;
    height: 38px;
    line-height: 38px;
    input {
      padding-left: 32px;
      font-size: 13px;
    }
  }
  .next-checkbox-label {
    color: #999;
    font-size: 13px;
  }
}
