@media screen and (max-width: 720px) {
  .exceptioncontent {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
  }
  .imgException {
    max-width: 100px;
    margin-right: 10px;
  }
  .title {
    margin: 10px 0;
    color: #333;
    font-size: 14px;
  }
  .description {
    color: #666;
    font-size: 12px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1199px) {
  .exceptioncontent {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
  }
  .imgException {
    max-width: 180px;
    margin-right: 30px;
  }
  .title {
    margin: 10px 0;
    color: #333;
    font-size: 20px;
  }
  .description {
    color: #666;
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .exceptioncontent {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
  }
  .imgException {
    max-width: 260px;
    margin-right: 50px;
  }
  .title {
    margin: 20px 0;
    color: #333;
    font-size: 24px;
  }
  .description {
    color: #666;
    font-size: 16px;
  }
}
