// ------------------------ color ------------------------ //
$color-b1-1: #FFF0E5;
$color-b1-6: #FF6A00;
$color-b1-9: #F05800;
$color-b2-1: #2A3444;
$color-b2-2: #344053;
$color-b2-3: #A6D3F0;
$color-b2-6: #2192D9;
$color-b7-6: #4F74B3;
$color-b7-9: #2D559C;
$color-n1-1: #FFFFFF;
$color-n1-2: #F7F8FA;
$color-n1-3: #F2F3F7;
$color-n1-4: #EEEFF3;
$color-n1-5: #E6E7EB;
$color-n1-6: #DCDEE3;
$color-n1-7: #C4C6CF;
$color-n1-8: #A0A2AD;
$color-n1-9: #000000;
$color-n2-1: #CCCCCC;
$color-n2-2: #999999;
$color-n2-3: #666666;
$color-n2-4: #333333;
$color-f1-1: #FFA033;
$color-f1-2: #FAF1C8;
$color-f1-3: #D9750A;
$color-f2-1: #FF3333;
$color-f2-2: #FFE5E7;
$color-f2-3: #CC2E28;
$color-f3-1: #1DC11D;
$color-f3-2: #DCF2E2;
$color-f3-3: #189416;
$color-f4-1: #0A8FDC;
$color-f4-2: #0B70AF;
$color-f4-3: #0073bd;
$color-transparent: transparent;
$color-n1-10: #EAEAEA;
$color-n2-5: #222222;
$color-f5-1: #0089FD;
$color-f5-2: #DEF0FF;
$color-f5-3: #306AC9;
$color-f6-1: #0089FD;
$color-f6-2: #DAEEFF;
$color-f6-3: #306AC9;
$color-b1-2: #FFE3D1;
$color-b1-3: #FFC8A3;
$color-b1-4: #FFAC75;
$color-b1-5: #FF8B3D;
$color-b1-7: #F75F00;
$color-b1-8: #F05800;
$color-b1-10: #D64F00;
// ------------------------ corner ------------------------ //
$corner-radius-r0: 0px;
$corner-radius-r1: 0px;
$corner-radius-r2: 2px;
$corner-radius-r3: 3px;
$corner-radius-r4: 8px;
$corner-radius-r5: 50px;
$corner-radius-circle: 50%;
// ------------------------ font ------------------------ //
$font-size-base-display3: 56px;
$font-size-base-display2: 48px;
$font-size-base-display1: 36px;
$font-size-base-headline: 24px;
$font-size-base-title: 20px;
$font-size-base-subhead: 16px;
$font-size-base-body2: 14px;
$font-size-base-body1: 14px;
$font-size-base-caption: 12px;
$font-lineheight-base-display3: 84px;
$font-lineheight-base-display2: 68px;
$font-lineheight-base-display1: 54px;
$font-lineheight-base-headline: 36px;
$font-lineheight-base-title: 30px;
$font-lineheight-base-subhead: 28px;
$font-lineheight-base-body2: 22px;
$font-lineheight-base-body1: 22px;
$font-lineheight-base-caption: 18px;
$font-weight-base-display3: normal;
$font-weight-base-display2: normal;
$font-weight-base-display1: normal;
$font-weight-base-headline: normal;
$font-weight-base-title: bold;
$font-weight-base-subhead: normal;
$font-weight-base-body2: bold;
$font-weight-base-body1: normal;
$font-weight-base-caption: normal;
$font-family-base: Roboto,
"Helvetica Neue",
Helvetica,
Tahoma,
Arial,
"PingFang SC",
"Microsoft YaHei";
// ------------------------ icon ------------------------ //
$icon-font-path: "//at.alicdn.com/t/font_nh2fymb29gjve7b9";
$icon-font-name: "icon";
$icon-xxs: 8px;
$icon-xs: 12px;
$icon-s: 16px;
$icon-m: 20px;
$icon-l: 24px;
$icon-xl: 32px;
$icon-xxl: 48px;
$icon-xxxl: 64px;
$icon-content-all: "\e662";
$icon-content-cart: "\e618";
$icon-content-comments: "\e605";
$icon-content-cry: "\e61a";
$icon-content-email: "\e663";
$icon-content-favorite: "\e60a";
$icon-content-folder: "\e61b";
$icon-content-form: "\e61c";
$icon-content-help: "\e61f";
$icon-content-refresh: "\e621";
$icon-content-set: "\e623";
$icon-content-training: "\e624";
$icon-content-account: "\e664";
$icon-content-atm: "\e626";
$icon-content-clock: "\e615";
$icon-content-attachment: "\e627";
$icon-content-3column: "\e628";
$icon-content-4column: "\e629";
$icon-content-discount: "\e62a";
$icon-content-service: "\e62b";
$icon-content-print: "\e62c";
$icon-content-box: "\e62d";
$icon-content-browse: "\e634";
$icon-content-atm-away: "\e635";
$icon-content-scanning: "\e636";
$icon-content-compare: "\e637";
$icon-content-filter: "\e638";
$icon-content-pin: "\e639";
$icon-content-history: "\e63a";
$icon-content-similar-product: "\e63b";
$icon-content-link: "\e63c";
$icon-content-cut: "\e64a";
$icon-content-table: "\e63e";
$icon-content-nav-list: "\e63f";
$icon-content-image-text: "\e640";
$icon-content-text: "\e641";
$icon-content-move: "\e642";
$icon-content-subtract: "\e650";
$icon-content-dollar: "\e643";
$icon-content-office: "\e644";
$icon-content-operation: "\e645";
$icon-content-download: "\e646";
$icon-content-map: "\e647";
$icon-content-bad: "\e648";
$icon-content-good: "\e649";
$icon-content-skip: "\e64b";
$icon-content-play: "\e64c";
$icon-content-stop: "\e64d";
$icon-content-compass: "\e64e";
$icon-content-security: "\e64f";
$icon-content-share: "\e651";
$icon-content-store: "\e652";
$icon-content-phone: "\e653";
$icon-content-ellipsis: "\e654";
$icon-content-email-filling: "\e665";
$icon-content-favorites-filling: "\e666";
$icon-content-account-filling: "\e667";
$icon-content-credit-level: "\e65a";
$icon-content-credit-level-filling: "\e65c";
$icon-content-mobile-phone: "\e65d";
$icon-content-smile: "\e668";
$icon-content-personal-center: "\e669";
$icon-content-arrow-up-filling: "\e601";
$icon-content-arrow-right: "\e603";
$icon-content-arrow-left: "\e682";
$icon-content-arrow-down: "\e66b";
$icon-content-arrow-up: "\e66c";
$icon-content-add: "\e66f";
$icon-content-minus: "\e670";
$icon-content-delete-filling: "\e681";
$icon-content-edit: "\e613";
$icon-content-error: "\e672";
$icon-content-select: "\e673";
$icon-content-ashbin: "\e61e";
$icon-content-calendar: "\e620";
$icon-content-time: "\e622";
$icon-content-success: "\e674";
$icon-content-warning: "\e675";
$icon-content-search: "\e656";
$icon-content-display: "\e677";
$icon-content-category: "\e658";
$icon-content-prompt: "\e678";
$icon-content-arrow-down-filling: "\e65b";
$icon-content-sorting: "\e676";
$icon-content-ascending: "\e606";
$icon-content-descending: "\e608";
$icon-content-success-filling: "\e679";
$icon-content-picture: "\e60c";
$icon-content-close: "\e67a";
$icon-content-semi-select: "\e67b";
$icon-content-tag-subscript: "\e614";
$icon-content-survey: "\e65f";
$icon-content-loading: "\e67c";
$icon-content-arrow-double-left: "\e616";
$icon-content-arrow-double-right: "\e661";
// ------------------------ line ------------------------ //
$line-1-width: 1px;
$line-2-width: 2px;
$line-3-width: 4px;
// ------------------------ shadow ------------------------ //
$shadow-distance-sd1: 1;
$shadow-distance-sd2: 1.5;
$shadow-distance-sd3: 3;
$shadow-distance-sd4: 4;
$shadow-distance-sd5: 5;
$shadow-opacity-sd1: 0.32;
$shadow-opacity-sd2: 0.32;
$shadow-opacity-sd3: 0.32;
$shadow-opacity-sd4: 0.32;
$shadow-opacity-sd5: 0.32;
$shadow-color-sd1: #666666;
$shadow-color-sd2: #666666;
$shadow-color-sd3: #666666;
$shadow-color-sd4: #666666;
$shadow-color-sd5: #666666;
$shadow-elevation-sd1: 4;
$shadow-elevation-sd2: 7;
$shadow-elevation-sd3: 9;
$shadow-elevation-sd4: 12;
$shadow-elevation-sd5: 15;
// ------------------------ size ------------------------ //
$size-base: 4px;
// ------------------------ accordion ------------------------ //
$accordion-content-padding-y: 20px;
$accordion-icon-margin-l: 20px;
$accordion-title-font-size: 16px;
$accordion-title-height: 60px;
$accordion-icon-margin-r: 8px;
$accordion-title-mutli-padding-y: 12px;
$accordion-content-padding-x: 20px;
$accordion-title-bgcolor: #EEEFF3;
$accordion-title-mutli-line-height: 36px;
// ------------------------ balloon ------------------------ //
$balloon-font-size: 14px;
$balloon-normal-color-border: #E6E7EB;
$balloon-primary-color-border: #DCDEE3;
$balloon-primary-color-bg: #FFFFFF;
$balloon-border-corner: 0px;
$balloon-size-close-margin-right: 8px;
$balloon-size-close-margin-top: 8px;
$balloon-border-width: 1px;
$balloon-size-arrow-size: 8px;
$balloon-tooltip-color-bg: #F2F3F7;
$balloon-primary-shadow: 0 0 0 #FFFFFF;
// ------------------------ breadcrumb ------------------------ //
$breadcrumb-size-m-font-size: 14px;
$breadcrumb-text-color: #666666;
$breadcrumb-size-keyword-font-size: 14px;
$breadcrumb-size-number-font-size: 14px;
$breadcrumb-icon-color: #666666;
// ------------------------ button ------------------------ //
$btn-size-l-height: 40px;
$btn-size-m-height: 32px;
$btn-size-s-height: 24px;
$btn-corner: 3px;
$btn-normal-bg: #F2F3F7;
$btn-normal-bg-hover: #EEEFF3;
$btn-size-l-icon-margin: 12px;
$btn-size-l-icon-size: 20px;
$btn-size-m-icon-margin: 8px;
$btn-size-m-icon-size: 16px;
$btn-size-m-font: 14px;
$btn-bg-disabled: #F7F8FA;
$btn-warning-normal-bg-disabled: #F2F3F7;
$btn-border-color-disabled: #DCDEE3;
// ------------------------ calendar ------------------------ //
$calendar-card-header-height: 36px;
$calendar-card-header-icon-size: 20px;
$calendar-card-border-color: transparent;
$calendar-card-cell-disabled-border-color: transparent;
$calendar-card-cell-hover-border-color: transparent;
$calendar-card-cell-normal-border-color: transparent;
$calendar-card-cell-normal-color: #333333;
$calendar-card-cell-select-border-color: transparent;
$calendar-card-header-background: transparent;
$calendar-card-header-color: #C4C6CF;
$calendar-card-cell-hover-background: #FFF0E5;
$calendar-card-cell-hover-color: #333333;
$calendar-card-cell-select-background: #FF6A00;
$calendar-card-header-hover-color: #FF6A00;
$calendar-card-cell-other-border-color: transparent;
$calendar-fullscreen-cell-normal-background: transparent;
$calendar-card-cell-disabled-background: #F7F8FA;
$calendar-fullscreen-font-size: 14px;
// ------------------------ card ------------------------ //
$card-title-padding-left: 12px;
$card-border-color: transparent;
$card-shadow: 1.5px 1.5px 7px rgba(102, 102, 102, 0.32);
// ------------------------ checkbox ------------------------ //
$checkbox-size: 16px;
$checkbox-border-radius: 3px;
$checkbox-circle-size: 8px;
// ------------------------ date-picker ------------------------ //
$date-picker-icon-color: #C4C6CF;
$date-picker-icon-color-hover: #A0A2AD;
$date-picker-input-l-font: 14px;
$date-picker-input-m-height: 32px;
$date-picker-input-s-height: 24px;
// ------------------------ dialog ------------------------ //
$dialog-content-color: #666666;
$dialog-title-font-size: 20px;
$dialog-shadow: 1.5px 1.5px 7px rgba(102, 102, 102, 0.32);
// ------------------------ feedback ------------------------ //
$feedback-size-m-title-font: 14px;
$feedback-size-m-content-margin-top: 8px;
$feedback-prompt-shadow-toast: 1.5px 1.5px 7px rgba(102, 102, 102, 0.32);
$feedback-success-shadow-toast: 1.5px 1.5px 7px rgba(102, 102, 102, 0.32);
$feedback-error-shadow-toast: 1.5px 1.5px 7px rgba(102, 102, 102, 0.32);
$feedback-size-l-icon: 24px;
// ------------------------ form ------------------------ //
$form-item-vertical-split-medium: 20px;
$form-label-l-line-height: 40px;
$form-label-m-line-height: 32px;
$form-inset-corner: 3px;
$form-inset-padding-r: 4px;
$form-item-horizontal-split: 20px;
$form-label-s-line-height: 24px;
// ------------------------ input ------------------------ //
$input-size-m-height: 32px;
$input-size-s-height: 24px;
$input-single-color-border-focus: #A0A2AD;
$input-color-bg-disabled: #F7F8FA;
$input-color-hint: #CCCCCC;
$input-size-l-corner: 3px;
$input-size-l-padding: 12px;
$input-size-m-corner: 3px;
$input-size-s-corner: 3px;
$input-size-s-font: 12px;
$input-multiple-color-border-focus: #FF6A00;
$input-multiple-corner: 3px;
$input-color-maxlen: #666666;
$input-multiple-size-padding-tb: 8px;
$input-clear-l-icon-size: 16px;
$input-feedback-icon-size-l: 16px;
$input-feedback-icon-size-m: 16px;
$input-addon-color-bg: #F2F3F7;
$input-color-border-disabled: #DCDEE3;
// ------------------------ menu ------------------------ //
$menu-border-color: transparent;
$menu-divider-margin-hoz: 16px;
$menu-divider-margin-ver: 4px;
$menu-padding-horizontal: 16px;
$menu-padding-vertical: 8px;
$menu-color-disabled: #CCCCCC;
// ------------------------ navigation ------------------------ //
$navigation-line-item-fontsize: 14px;
$navigation-text-item-color: #FFFFFF;
$navigation-text-item-custom-color: #FFFFFF;
$navigation-text-item-custom-icon-size: 16px;
$navigation-text-item-fontsize: 14px;
$navigation-text-item-leaf-color: #FFFFFF;
$navigation-filling-item-fontsize: 14px;
$navigation-icononly-item-background: #344053;
$navigation-icononly-item-color: #FFFFFF;
$navigation-icononly-item-icon-size: 16px;
$navigation-normal-item-background-selected: #344053;
$navigation-normal-item-color: #FFFFFF;
$navigation-normal-item-fontsize: 14px;
$navigation-normal-item-leaf-icon-size: 16px;
$navigation-icononly-item-background-hover: #2A3444;
$navigation-icononly-item-background-selected: #2A3444;
$navigation-icononly-item-color-hover: #FFFFFF;
$navigation-normal-item-background: #344053;
$navigation-normal-item-background-hover: #2A3444;
$navigation-normal-item-color-hover: #FFFFFF;
$navigation-normal-item-color-selected: #FFFFFF;
$navigation-normal-item-current-color-hover: transparent;
$navigation-normal-item-custom-icon-color-hover: #FFFFFF;
$navigation-normal-item-custom-icon-color-selected: #FFFFFF;
$navigation-normal-item-custom-icon-color: #FFFFFF;
$navigation-normal-item-group-title-color: #FFFFFF;
$navigation-text-item-background: #344053;
$navigation-text-item-color-hover: #FFFFFF;
$navigation-text-item-color-selected: #FFFFFF;
$navigation-text-item-custom-color-hover: #FFFFFF;
$navigation-text-item-custom-color-selected: #FFFFFF;
$navigation-text-item-leaf-color-hover: #FFFFFF;
$navigation-text-item-leaf-color-selected: #FFFFFF;
$navigation-line-item-background: #344053;
$navigation-line-item-background-hover: #2A3444;
$navigation-line-item-background-selected: #2A3444;
$navigation-line-item-border-color-selected: #FF6A00;
$navigation-line-item-color: #FFFFFF;
$navigation-line-item-color-hover: #FFFFFF;
$navigation-line-item-color-selected: #FFFFFF;
$navigation-line-item-custom-color: #FFFFFF;
$navigation-line-item-custom-color-hover: #FFFFFF;
$navigation-line-item-custom-color-selected: #FFFFFF;
$navigation-line-item-custom-icon-size: 16px;
$navigation-line-item-leaf-color: #FFFFFF;
$navigation-line-item-leaf-color-hover: #FFFFFF;
$navigation-line-item-leaf-color-selected: #FFFFFF;
$navigation-filling-item-background: #344053;
$navigation-filling-item-background-hover: #2A3444;
$navigation-filling-item-background-selected: #2A3444;
$navigation-filling-item-color: #FFFFFF;
$navigation-filling-item-color-hover: #FFFFFF;
$navigation-item-current-color-set-selected: transparent;
$navigation-filling-item-custom-icon-size: 16px;
$navigation-normal-item-current-color-selected: transparent;
$navigation-normal-item-custom-icon-size: 16px;
$navigation-slip-item-background: #344053;
$navigation-slip-item-background-active: #2A3444;
$navigation-slip-item-border-color: transparent;
$navigation-slip-item-color: #FFFFFF;
$navigation-slip-item-color-active: #FFFFFF;
$navigation-slip-item-custom-icon-color: #FFFFFF;
$navigation-slip-item-custom-icon-color-active: #FFFFFF;
$navigation-slip-item-custom-icon-size: 16px;
$navigation-slip-item-leaf-icon-color: #FFFFFF;
$navigation-slip-item-leaf-icon-color-active: #FFFFFF;
$navigation-tree-item-background: #344053;
$navigation-tree-item-color: #FFFFFF;
$navigation-tree-item-color-hover: #FFFFFF;
$navigation-tree-item-color-selected: #FFFFFF;
$navigation-tree-item-custom-icon-color: #FFFFFF;
$navigation-tree-item-custom-icon-color-hover: #FFFFFF;
$navigation-tree-item-custom-icon-color-selected: #FFFFFF;
$navigation-tree-item-custom-icon-size: 16px;
$navigation-tree-item-leaf-icon-color: #FFFFFF;
$navigation-tree-item-leaf-icon-color-hover: #FFFFFF;
$navigation-tree-item-group-title-color: #FFFFFF;
$navigation-line-border-color: transparent;
$navigation-slip-item-fontsize: 14px;
$navigation-icononly-item-line-color: transparent;
$navigation-normal-item-group-title-fontsize: 14px;
$navigation-tree-item-fontsize: 14px;
$navigation-tree-item-group-title-fontsize: 14px;
// ------------------------ notice ------------------------ //
$notice-system-color-bg: #FFF0E5;
$notice-prompt-color-bg: #DEF0FF;
$notice-prompt-color-border: Transparent;
$notice-system-color-border: transparent;
$notice-system-color-close: #666666;
$notice-system-color-content: #666666;
$notice-system-color-icon: #FF6A00;
$notice-system-color-title: #333333;
$notice-prompt-color-icon: #0089FD;
$notice-color-close: #666666;
$notice-shadow: 0 0 0 #FFFFFF;
$notice-size-l-border-width: 1px;
$notice-size-l-close: 12px;
$notice-size-l-close-right: 8px;
$notice-size-l-close-top: 8px;
$notice-size-l-content-margin-top: 4px;
$notice-size-l-title-font: 16px;
$notice-size-m-border-width: 1px;
$notice-size-m-close: 12px;
$notice-size-m-close-right: 8px;
$notice-size-m-close-top: 8px;
$notice-size-m-icon: 20px;
$notice-size-m-content-font: 14px;
$notice-size-m-content-margin-top: 8px;
$notice-size-m-title-font: 14px;
$notice-warning-color-bg: #FAF1C8;
$notice-warning-color-border: transparent;
$notice-size-l-icon: 24px;
// ------------------------ number-picker ------------------------ //
$number-picker-inline-handler-corner: 3px;
$number-picker-inline-handler-height: 24px;
$number-picker-inline-height: 24px;
$number-picker-handler-corner: 3px;
$number-picker-bg: #F2F3F7;
$number-picker-bg-disabled: #F7F8FA;
$number-picker-border-color-disabled: #DCDEE3;
// ------------------------ pagination ------------------------ //
$pagination-current-font-size: 14px;
$pagination-ellipsis-font-size: 14px;
$pagination-jump-font-size: 14px;
$pagination-total-font-size: 14px;
$pagination-input-width: 40px;
$pagination-item-current-bg: #F2F3F7;
// ------------------------ progress ------------------------ //
$progress-line-overlay-size-l: 12px;
$progress-line-underlay-size-l: 12px;
$progress-circle-size-l: 140px;
$progress-circle-size-m: 120px;
$progress-line-underlay-color: #E6E7EB;
$progress-circle-underlay-color: #E6E7EB;
// ------------------------ radio ------------------------ //
$radio-button-border-color: #C4C6CF;
$radio-button-font-color: #666666;
$radio-button-border-color-hovered: #FF6A00;
$radio-button-height-medium: 32px;
$radio-button-height-small: 24px;
$radio-button-radius-size: 3px;
$radio-button-bg-color-disabled: #F7F8FA;
$radio-button-border-color-disabled: #C4C6CF;
$radio-button-border-color-checked-disabled: #C4C6CF;
$radio-button-font-color-checked-disabled: #999999;
$radio-disabled-bg-color: #F7F8FA;
$radio-button-bg-color-checked-disabled: #F7F8FA;
// ------------------------ range ------------------------ //
$range-normal-unselected-color: #DCDEE3;
$range-normal-unselected-color-disabled: #DCDEE3;
$range-normal-unselected-color-hover: #DCDEE3;
// ------------------------ rating ------------------------ //
$rating-normal-underlay-color: #DCDEE3;
$rating-large-font-size: 14px;
// ------------------------ search ------------------------ //
$search-border-width: 1px;
$search-button-icon-l: 20px;
$search-button-icon-m: 16px;
$search-button-text-size: 14px;
$search-height-l: 40px;
$search-height-m: 32px;
$search-normal-button-icon-size-m: 20px;
$search-normal-button-text-size: 14px;
$search-normal-height-m: 32px;
$search-normal-height-s: 24px;
$search-normal-hover-border-color: #A0A2AD;
$search-secondary-hover-border-color: #F05800;
$search-normal-button-icon-color: #C4C6CF;
$search-normal-button-background: #F2F3F7;
// ------------------------ select ------------------------ //
$select-small-height: 24px;
$select-border-radius: 3px;
$select-color-border-active: #A0A2AD;
$select-icon-large-size: 16px;
$select-large-padding-lr: 12px;
$select-middle-height: 32px;
$select-small-padding-lr: 4px;
$select-icon-color: #C4C6CF;
$select-color-border-disabled: #DCDEE3;
$select-box-bg: transparent;
$select-color-bg-disabled: #F7F8FA;
// ------------------------ slider ------------------------ //
$slick-dots-position-bottom: 8px;
$slick-arrow-bg-color-disabled: #F2F3F7;
$slick-arrow-height-l: 88px;
$slick-arrow-icon-color-disabled: #CCCCCC;
$slick-track-padding-lr: 28px;
$slick-arrow-icon-color-normal-outer: #C4C6CF;
$slick-arrow-position-lr-l: 24px;
$slick-arrow-position-lr-m: 8px;
$slick-arrow-icon-color-hover-outer: #A0A2AD;
$slick-vertical-track-padding-tb: 32px;
$slick-arrow-icon-l: 24px;
// ------------------------ step ------------------------ //
$step-arrow-item-height: 48px;
$step-arrow-item-title-size: 16px;
$step-arrow-item-finish-background: #FFF0E5;
$step-circle-item-node-font-size: 24px;
$step-circle-item-node-icon-size: 20px;
$step-circle-item-node-size: 48px;
$step-dot-item-dot-icon-size: 20px;
$step-dot-item-title-size: 16px;
$step-circle-item-node-disabled-border-color: #E6E7EB;
$step-dot-item-node-disabled-border-color: #E6E7EB;
// ------------------------ switch ------------------------ //
$switch-normal-on-bg-color: #1DC11D;
$switch-hover-off-bg-color: #EEEFF3;
$switch-hover-off-border-color: #C4C6CF;
$switch-hover-on-bg-color: #189416;
$switch-disabled-off-bg-color: #CCCCCC;
$switch-disabled-off-trigger-bg-color: #F2F3F7;
$switch-disabled-on-bg-color: #CCCCCC;
$switch-disabled-on-trigger-bg-color: #F2F3F7;
$switch-disabled-off-color-font: #FFFFFF;
$switch-disabled-on-color-font: #FFFFFF;
$switch-normal-off-border-color: #C4C6CF;
$switch-on-shadow: 1px 1px 4px rgba(102, 102, 102, 0.32);
// ------------------------ tab ------------------------ //
$tab-bar-padding-size-m: 28px;
$tab-bar-text-size-m: 14px;
$tab-strip-ink-bar-width: 2px;
$tab-wrapped-bar-margin-right: -1px;
$tab-wrapped-bg-color: #F7F8FA;
$tab-bar-text-size-s: 14px;
$tab-content-padding-m: 20px;
$tab-bar-padding-size-s: 20px;
$tab-content-min-height: 16px;
$tab-content-padding-s: 16px;
$tab-bar-height-size-m: 36px;
$tab-wrapped-bg-color-hover: #F7F8FA;
$tab-wrapped-border-line-color: #DCDEE3;
$tab-wrapped-border-line-color-hover: #C4C6CF;
$tab-wrapped-ink-bar-color: transparent;
$tab-bar-height-size-s: 28px;
$tab-capsule-tab-border-line-color: #DCDEE3;
$tab-capsule-tab-border-line-color-hover: #DCDEE3;
$tab-capsule-corner-radius: 3px;
$tab-capsule-text-color-hover: #222222;
// ------------------------ table ------------------------ //
$table-cell-padding-top: 20px;
$table-sort-color: #333333;
$table-cell-padding-left: 20px;
$table-td-gray: #F7F8FA;
// ------------------------ tag ------------------------ //
$tag-selectable-normal-border-color-selected: #FF6A00;
$tag-selectable-normal-border-color-selected-hover: #FF6A00;
$tag-selectable-normal-text-color-selected: #FF6A00;
$tag-selectable-normal-text-color-selected-hover: #FF6A00;
$tag-selectable-tail-bg-color: #FF6A00;
$tag-size-m-height: 32px;
$tag-size-m-padding-lr: 16px;
$tag-size-m-text-size: 14px;
$tag-size-s-height: 24px;
$tag-size-s-padding-lr: 12px;
$tag-size-s-text-size: 12px;
$tag-selectable-primary-background-color-hover: #FF6A00;
$tag-selectable-primary-text-color: #666666;
$tag-selectable-primary-background-color: #EEEFF3;
$tag-selectable-primary-text-color-hover: #FFFFFF;
$tag-selectable-secondary-border-color-selected: #FF6A00;
$tag-selectable-secondary-border-color-selected-hover: #FF6A00;
$tag-selectable-secondary-text-color-selected: #FF6A00;
$tag-selectable-secondary-text-color-selected-hover: #FF6A00;
$tag-selectable-normal-tail-bg-color: #FF6A00;
$tag-selectable-secondary-tail-bg-color: #FF6A00;
$tag-corner-radius: 3px;
$tag-selectable-normal-background-color-hover: transparent;
$tag-selectable-normal-background-color-disabled: #F7F8FA;
$tag-selectable-normal-border-color-disabled: #DCDEE3;
$tag-selectable-normal-border-color-hover: #FF6A00;
$tag-selectable-normal-text-color-hover: #FF6A00;
$tag-selectable-normal-background-color-selected-hover: #FFF0E5;
$tag-selectable-normal-tail-bg-color-selected-hover: #FF6A00;
$tag-selectable-primary-border-color: transparent;
$tag-selectable-primary-border-color-hover: transparent;
$tag-selectable-primary-text-color-selected-hover: #F2F3F7;
$tag-selectable-primary-background-color-disabled: #F7F8FA;
$tag-selectable-primary-border-color-disabled: transparent;
$tag-selectable-primary-border-color-selected: transparent;
$tag-selectable-primary-border-color-selected-hover: transparent;
$tag-selectable-secondary-background-color-hover: #F2F3F7;
$tag-selectable-secondary-border-color: transparent;
$tag-selectable-secondary-border-color-hover: transparent;
$tag-selectable-secondary-background-color-selected-hover: #FFF0E5;
$tag-selectable-secondary-tail-bg-color-selected-hover: #FF6A00;
$tag-selectable-secondary-background-color-disabled: transparent;
$tag-selectable-secondary-border-color-disabled: transparent;
$tag-deletable-normal-border-color-hover: #A0A2AD;
$tag-deletable-normal-icon-background-color-hover: #F2F3F7;
$tag-deletable-split-line-color: #FFFFFF;
$tag-deletable-tail-width: 24px;
$tag-deletable-normal-background-color-disabled: #F7F8FA;
$tag-deletable-normal-border-color-disabled: #DCDEE3;
$tag-deletable-normal-icon-background-color-disabled: #F7F8FA;
$tag-deletable-primary-background-color: #FF6A00;
$tag-deletable-primary-border-color: transparent;
$tag-deletable-primary-icon-background-color: #FF6A00;
$tag-deletable-primary-icon-color: #FFFFFF;
$tag-deletable-primary-text-color: #FFFFFF;
$tag-deletable-primary-background-color-hover: #F05800;
$tag-deletable-primary-border-color-hover: transparent;
$tag-deletable-primary-icon-background-color-hover: #F05800;
$tag-deletable-primary-icon-color-hover: #FFFFFF;
$tag-deletable-primary-text-color-hover: #FFFFFF;
$tag-deletable-primary-background-color-disabled: #F7F8FA;
$tag-deletable-primary-border-color-disabled: transparent;
$tag-deletable-primary-icon-background-color-disabled: #F7F8FA;
$tag-deletable-secondary-background-color: #FFFFFF;
$tag-deletable-secondary-background-color-hover: transparent;
$tag-deletable-secondary-border-color-hover: #A0A2AD;
$tag-deletable-secondary-icon-background-color-hover: transparent;
$tag-deletable-secondary-background-color-disabled: #F7F8FA;
$tag-deletable-secondary-border-color-disabled: #DCDEE3;
$tag-deletable-secondary-icon-background-color-disabled: #F7F8FA;
$tag-interactive-border-color-hover: #A0A2AD;
$tag-interactive-number-color-hover: #FF6A00;
$tag-interactive-r-background-color: transparent;
$tag-interactive-r-background-color-hover: #FF6A00;
$tag-interactive-r-text-color-hover: #FFFFFF;
$tag-interactive-border-color-disabled: #DCDEE3;
$tag-interactive-l-background-color-disabled: #F7F8FA;
$tag-readonly-background-color-disabled: #F7F8FA;
$tag-readonly-border-color: #C4C6CF;
$tag-readonly-border-color-disabled: #DCDEE3;
$tag-link-secondary-background-color-hover: transparent;
$tag-link-secondary-border-color-hover: #C4C6CF;
$tag-link-secondary-background-color-disabled: transparent;
$tag-link-secondary-border-color-disabled: transparent;
$tag-link-normal-background-color-disabled: transparent;
$tag-link-normal-background-color-hover: transparent;
$tag-link-normal-border-color-disabled: #E6E7EB;
$tag-link-normal-border-color-hover: #A0A2AD;
$tag-link-primary-background-color: #EEEFF3;
$tag-link-primary-background-color-disabled: #F7F8FA;
$tag-link-primary-background-color-hover: #EEEFF3;
$tag-link-primary-border-color: transparent;
$tag-link-primary-border-color-disabled: transparent;
$tag-link-primary-border-color-hover: transparent;
// ------------------------ time-picker ------------------------ //
$time-picker-icon-color: #C4C6CF;
$time-picker-input-l-font: 14px;
$time-picker-input-m-height: 32px;
$time-picker-input-s-height: 24px;
$time-picker-cell-selected-color: #FF6A00;
$time-picker-cell-hover-bg: #F2F3F7;
$time-picker-cell-selected-bg: transparent;
$time-picker-cell-hover-color: #333333;
// ------------------------ timeline ------------------------ //
$timeline-item-body-margin-top: 0;
$timeline-item-process-background: #FF6A00;
$timeline-item-title-font-size: 14px;
$timeline-item-node-padding: 8px;
$timeline-item-title-margin-top: 8px;
$timeline-item-time-margin-top: 4px;
// ------------------------ tree ------------------------ //
$tree-node-disabled-color: #CCCCCC;
$tree-node-hover-background-opacity: 1;
$tree-node-margin: 12px;
$tree-node-title-border-radius: 0px;
$tree-node-title-margin: 8px;
$tree-node-title-padding: 8px;
$tree-node-hover-background: #F2F3F7;
$tree-node-hover-background-rgb: #FFF0E5;
$tree-node-select-background: transparent;
$tree-node-select-background-opacity: 1;
$tree-node-select-background-rgb: transparent;
$tree-node-hover-color: #333333;
$tree-node-select-color: #FF6A00;
// ------------------------ upload ------------------------ //
$upload-select-card-border-color-hover: #FF6A00;
$upload-list-item-text-image-bg-color-hover: #F7F8FA;
$upload-list-item-text-picture-icon-size: 20px;
$upload-card-margin-bottom: 20px;
$upload-card-margin-right: 20px;
$upload-select-card-font-color-disable: #DCDEE3;
$upload-select-card-thumbnail-icon-size: 32px;
$upload-select-card-border-color-disable: #DCDEE3;
$upload-list-item-border-color: #DCDEE3;
$upload-select-card-border-color: #C4C6CF;
$upload-list-item-text-image-border-color: #DCDEE3;
$upload-list-item-text-image-border-color-hover: #DCDEE3;
$upload-drag-zone-border-color: #C4C6CF;
$upload-list-item-text-image-picture-background-color: #F2F3F7;
$upload-drag-zone-tips-over-bg-color: #F7F8FA;
$upload-list-text-bg-color: #F7F8FA;
$upload-list-text-bg-color-hover: #F2F3F7;
// ------------------------ custom icons ------------------------ //
$icon-content-favorites: '\e680';
$icon-content-nav-more: '\e67d';
$icon-content-auto: '\e633';
$icon-content-lights: '\e632';
$icon-content-gifts: '\e631';
$icon-content-electronics: '\e630';
$icon-content-bags: '\e62f';
$icon-content-process: '\e62e';
$icon-content-error-filling: '\e671';
$icon-content-back: '\e66a';
