.navBar {
  background: $color-brand1-6;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);

  .navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 78px;
    height: 78px;
    border-left: 3px solid $color-brand1-6;

    .navItemIcon {
      color: #eee;
      margin-bottom: 4px;
    }

    .navItemText {
      color: #fff;
    }
  }
}
