@charset "UTF-8";

.user-layout {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .meta {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .title {
    text-align: center;
    font-size: 33px;
    color: rgba(0, 0, 0, 0.85);
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
  .desc {
    margin: 10px 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
  }
  .logo {
    margin-right: 10px;
    width: 48px;
  }
  .formContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 368px;
    margin: 0 auto;
  }
  .formItem {
    position: relative;
    margin-bottom: 25px;
    flex-direction: column;
  }
  .formItemCol {
    position: relative;
    margin-bottom: 5px;
  }
  .formTitle {
    text-align: center;
    margin: 0 0 20px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
  }
  .inputIcon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
  }
  .submitBtn {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    background: #3080fe;
    border-radius: 4px;
  }
  .checkbox {
    margin-left: 5px;
  }
  .account {
    margin: 4px 0;
    text-align: center;
  }
  .tips {
    justify-content: center;
  }
  .tips-text {
    color: #999;
    text-decoration: none;
    font-size: 13px;
  }
  .line {
    color: #dcd6d6;
    margin: 0 8px;
  }

  .next-input.next-input-single {
    width: 368px;
    height: 38px;
    line-height: 38px;
    input {
      padding-left: 32px;
      font-size: 13px;
    }
  }
  .next-checkbox-label {
    color: #999;
    font-size: 13px;
  }
}
