.ice-admin-header-footer-layout {
  background-color: #fafafa;
  background-image: url(https://img.alicdn.com/tfs/TB1GsHCd8fH8KJjy1XbXXbLdXXa-1680-370.png);
  background-size: 100%;
  background-repeat: no-repeat;
  min-width: 1200px;
  .ice-admin-layout-header {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between; // flex-start|flex-end|center|space-between|space-around;
    align-items: center;
  }

  .ice-admin-layout-footer-body {
    width: 1200px;
    margin: 45px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ice-layout-main {
    width: 1200px;
    margin: 0 auto;
  }

  // 顶部导航效果覆盖
  .ice-admin-layout-header-menu {
    .ice-menu {
      background: transparent;
    }
  }

  .logo a {
    &:active,
    &:link {
      text-decoration: none;
    }
  }

  .ice-admin-layout-header-username {
    color: #666;
  }
}
