@charset "UTF-8";

.user-login {
  .next-input.next-input-single {
    width: 240px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #dcdcdc;
    border-radius: 0;
    input {
      padding-left: 25px;
      font-size: 13px;
    }
  }
  .next-checkbox-label {
    color: #999;
    font-size: 13px;
  }
}
