.ice-richtext-container {
  position: relative;

  .ice-richtext-toolbar {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 3px 12px rgba(64, 110, 128, 0.3);
    border-radius: 3px;
    font-size: 0;

    .toolbar-button {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      width: 30px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      &:hover {
        background-color: #ebebeb;
      }
      .material-icons {
        font-size: 18px;
        line-height: 30px;
        vertical-align: text-bottom;
      }
    }

    .rc-color-picker-wrap {
      float: none;
    }
  }

  .ice-richtext-editor {
    * {
      font-family: Roboto, 'Helvetica Neue', Helvetica, Tahoma, Arial, 'PingFang SC', 'Microsoft YaHei';
      color: #333;
      line-height: 1;
    }

    p {
      line-height: 1;
      margin: 0;
    }

    strong {
      font-weight: 500;
    }

    blockquote {
      border-left: 2px solid #ddd;
      margin-left: 0;
      margin-right: 0;
      padding-left: 10px;
      color: #aaa;
      font-style: italic;
    }

    ul, ol {
      display: block;
      list-style: disc outside none;
      padding: 0 0 0 40px;
    }
    ol {
      list-style-type: decimal;
    }

    li {
      display: list-item;
      list-style: inherit;
      font-size: inherit;
    }
  }
}
