@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.ice-richtext-container {
  position: relative;

  .ice-richtext-toolbar {
    position: absolute;
    top: -65px;
    left: 0;
    border: 1px solid #eee;
    width: 400px;
    .toolbar-button {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      width: 30px;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: #ebebeb;
      }
      .material-icons {
        font-size: 18px;
        line-height: 30px;
        vertical-align: textBottom;
      }
    }
  }

  p {
    line-height: 1;
    margin: 0;
  }

  blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
  }

  pre {
    padding: 10px;
    background-color: #eee;
    white-space: pre-wrap;
  }

  :not(pre) > code {
    font-family: monospace;
    background-color: #eee;
    padding: 3px;
  }

  ul, ol {
    display: block;
    list-style: disc outside none;
    margin: 1em 0;
    padding: 0 0 0 40px;
  }
  ol {
    list-style-type: decimal;
  }

  li {
    display: list-item;
    list-style: inherit;
    font-size: inherit;
  }
}
