.tableHead {
  height: 32px;
  margin: 0 0 10px;
  display: flex;
  line-height: 32px;
  align-items: center;
  justify-content: space-between;
}
.tableTitle {
  color: $color-text1-3;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  border-left: 4px solid $color-brand1-6;
  padding-left: 12px;
}
.newContractButton {
  margin-bottom: 20px;
}
