@import './light.scss';
$page-container-width: 100%;

/* GLOBAL */
html,
body {
  background-color: $ice-body-bg;
  -webkit-font-smoothing: antialiased;
}

.ice-design-header-aside-footer-layout {
  .logo {
    max-width: 72px;
    height: 64px;
    line-height: 64px;
    .logo-text {
      display: block;
      text-align: center;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 18px;
      color: $ice-logo-text-color;
      font-weight: bold;
      font-family: Helvetica, sans-serif;
    }
  }

  .user-info {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 68px;
    display: flex;
    justify-content: center;
    .user-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background: #fff;
      cursor: pointer;
    }
  }

  /* LAYOUT */
  &.ice-design-layout {
    width: 100%;
    background-color: $ice-layout-bg;
    background-size: 100%;
    background-repeat: no-repeat;

    /* ASIDE */
    .ice-design-layout-aside {
      background: $ice-aside-bg;

      .ice-menu {
        background: $ice-aside-menu-bg;
        &.ice-menu-inline .ice-icon-stable {
          font-weight: normal;
          margin-right: 0;
        }
      }

      .ice-menu .ice-menu-item,
      .ice-menu .ice-menu-submenu-title {
        line-height: normal;
        height: auto;
      }

      .custom-menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 70px;
        .custom-menu-item-icon {
          color: #fff;
          font-size: 24px;
          opacity: 0.8;
          transform: translateY(0);
          transition: opacity 0.5s, -webkit-transform 0.5s;
          transition: transform 0.5s, opacity 0.5s;
          transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
        }
        .custom-menu-item-text {
          display: block;
          height: 0;
          overflow: hidden;
          font-size: 12px;
          color: #fff;
          transform: translateY(0);
          transition: height 0.5s, -webkit-transform 0.5s;
          transition: height 0.5s, transform 0.5s;
          transition: height 0.5s, transform 0.5s, -webkit-transform 0.5s;
        }
      }

      .custom-menu-sub-menu {
        &:hover {
          .custom-menu-item-icon {
            opacity: 1;
            transform: translateY(-10px);
            margin-top: 20px;
          }
          .custom-menu-item-text {
            height: auto;
            transform: translateY(-10px);
          }
        }
      }

      .ice-menu.ice-menu-root.ice-menu-inline
        > .ice-menu-submenu
        > .ice-menu-submenu-title,
      .ice-menu.ice-menu-root.ice-menu-inline > .ice-menu-item {
        padding: 0 24px;
        margin-bottom: 1px;
        color: $ice-aside-text-color;
        font-weight: bold;
      }

      .ice-menu.ice-menu-root .ice-menu-inline > .ice-menu-item {
        margin-bottom: 1px;
        color: $ice-aside-sub-text-color;
      }

      .ice-menu .ice-menu-item:hover,
      .ice-menu.ice-menu-horizontal > .ice-menu-item:hover,
      .ice-menu.ice-menu-root > .ice-menu-item:hover {
        color: #fff;
        border-radius: 0;
        background-image: linear-gradient(
          90deg,
          $ice-aside-menu-item-selected-gradient-left-bg 0%,
          $ice-aside-menu-item-selected-gradient-right-bg 100%
        );
      }

      .ice-menu .ice-menu-item > a:hover,
      .ice-menu.ice-menu-horizontal > .ice-menu-item:hover,
      .ice-menu.ice-menu-root > .ice-menu-item > a:hover {
        color: $ice-aside-text-hover-color;
      }

      .ice-menu:not(.ice-menu-horizontal) .ice-menu-item-selected {
        border-radius: 0;
        background-image: linear-gradient(
          90deg,
          $ice-aside-menu-item-selected-gradient-left-bg 0%,
          $ice-aside-menu-item-selected-gradient-right-bg 100%
        );
      }

      .ice-menu .ice-menu-submenu-vertical > .ice-menu:after {
        background: $ice-aside-menu-submenu-vertical-bg;
      }

      .ice-menu:not(.ice-menu-horizontal) .ice-menu-item-selected:before,
      .ice-menu-sub .ice-menu-item:hover:before {
        width: 0;
      }

      .ice-menu-item-selected > a {
        color: $ice-aside-menu-item-selected-text-color;
      }

      .ice-menu-item:hover {
        background: $ice-aside-menu-submenu-item-hover-bg;
        color: $ice-aside-text-hover-color;
      }
    }

    /* BODY */
    .ice-design-layout-body {
      width: $page-container-width;
      margin: 0 auto;
      .ice-layout-main {
        padding: 0;
        overflow: hidden;
      }
    }
  }
}

/* OVERRIDE */
.next-menu .next-menu-content .next-menu-item:hover {
  color: #333;
  background: #f3f3f3;
}
