@import '~@icedesign/skin/variables.scss';

// Basic color variables
$custom-layout-bg: #fafafa;
$custom-aside-bg: #22d7bb;
$custom-menu-item-selected-bg: #18bfa4;

// Layout light styles
$ice-body-bg: $color-white !default;
$ice-layout-bg: $custom-layout-bg !default;
$ice-toggle-btn-bg: $color-brand1-5 !default;
$ice-toggle-btn-text-color: $color-white !default;
$ice-logo-text-color: $color-white !default;
$ice-icon-down-color: $color-white !default;

$ice-header-menu-bg: $color-transparent !default;
$ice-header-text-color: $color-white !default;
$ice-header-text-hover-color: $color-brand1-5 !default;

$ice-aside-bg: $custom-aside-bg !default;
$ice-aside-menu-bg: $color-transparent !default;
$ice-aside-text-color: $color-white !default;
$ice-aside-sub-text-color: $color-text1-2 !default;
$ice-aside-text-hover-color: $color-white !default;
$ice-aside-menu-item-selected-gradient-left-bg: $custom-menu-item-selected-bg !default;
$ice-aside-menu-item-selected-gradient-right-bg: $custom-menu-item-selected-bg !default;
$ice-aside-menu-item-selected-text-color: $color-white !default;
$ice-aside-menu-submenu-item-hover-bg: $color-transparent !default;
$ice-aside-menu-submenu-vertical-bg: $color-white !default;

$ice-copyright-text-color: $color-text1-3 !default;
$ice-copyright-text-hover-color: $color-brand1-5 !default;
