.ice-layout {
  .ice-layout-aside.custom-aside {
    background: #fff;
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
    .custom-menu {
      min-height: 500px;
      width: 240px;
      padding-top: 20px;
      border-radius: 6px;
      .ice-menu-item-selected {
        background: #f8f9fa !important;
        border-radius: 0 !important;
        border-right: 3px solid #447eff;
        margin-bottom: 1px;
        > a {
          color: #666;
        }
      }
    }
  }
}
