.ice-layout-aside {
  .ice-menu-custom {
    height: 100%;
    padding-top: 20px;
    box-shadow: 4px 1px 12px rgba(0, 55, 107, 0.04);
    background-color: $nav-primary-bg-color;
    width: 240px;
    .ice-menu-item-text {
      padding-left: 1em;
    }
    .next-menu-item {
      height: auto;
      line-height: normal;
      .ice-menu-link {
        display: flex;
        padding: 12px 0;
        color: #fff;
        font-weight: 500;
      }
    }
    .ice-menu-item-selected {
      border-radius: 0 !important;
    }
  }
}
