// 覆盖顶部导航
#ice-container {
  .ice-admin-layout-header-top {
    height: 30px;
    width: 100%;
    line-height: 30px;
    font-size: 12px;
    color: #999;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ice-menu-item {
      line-height: 30px;
      height: 30px;
      &, & > a {
        color: #999;
        text-decoration: none;
      }
    }
    .ice-menu-item-selected,
    .ice-menu-item-selected > a {
      color: #999;
    }
  }
  .ice-admin-layout-header {
    display: flex;
    line-height: 50px;
    background: linear-gradient(to right, #1B5FEE, #1B5FEE);
    color: #999;
    padding: 0 20px;
    height: 50px;
    width: 100%;
    .ice-menu-item {
      width: 100px;
      text-align: center;
      line-height: 50px;
      height: 50px;
      font-size: 14px;
      &:hover {
        background: #5485F7;
      }
      &, & > a {
        color: #fff;
        text-decoration: none;
      }
    }
    .ice-menu-item-selected {
      background: #074FE7;
    }
  }
  .ice-menu {
    background: transparent;
  }

  .ice-header-userpannel {
    margin-left: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .header-menu-arrow {
    margin-left: 5px;
  }
}

.ice-header-balloon.next-balloon-medium {
  padding: 6px 0 6px 0px;
  width: 110px;
}

