.header-container {
  width: 100%;
  height: 62px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #447eff;
  min-width: 1200px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  .header-navbar {
    display: flex;
    flex-direction: row;
    .ice-menu {
      background: transparent;
      color: #fff;
      .ice-menu-item {
        font-size: 14px;
        a {
          color: #fff;
        }
        &:hover,
        a:hover {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  .header-navbar-menu.next-nav .next-menu-item:hover{
    background-color: transparent;
    color: hsla(0,0%,100%,.8);
  }
  
  .user-avatar {
    margin-right: 12px;
    border-radius: 4px;
  }

  .user-department {
    font-size: 12px;
    color: #fff;
  }

  .ice-design-header-userpannel {
    margin-left: 20px;
    cursor: pointer;
    .user-profile {
      display: inline-block;
      text-align: center;
      margin-bottom: 2px;
      color: #fff;
    }
    .icon-down {
      margin-left: 2px;
      color: #fff;
    }
  }
}

.user-profile-menu {
  width: 130px;
  border-radius: 6px;
  padding: 0 16px;
  .user-profile-menu-item {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    a {
      color: #666;
      &:hover {
        color: #1890ff;
      }
    }
    i {
      margin-right: 5px;
    }
  }
}
