.bt1px {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 0;
    height: .6px;
    background: #fff;
    opacity: .5;
  }
}

.scenario {
  padding-top: 43px;
  text-align: center;
  background: #f5f9fe;
  * {
    margin:  0;
    padding: 0;
  }
  h3 {
    font-family: Microsoft YaHei;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    color: #999;
    margin-bottom: 12px;
  }
}
.scenario-slider {
  display: inline-block;
  position: relative;
  .scenario-item {
    width: 112px;
    height: 158px;
    margin: 0 9px;
    font-size: 0;
    font-family: Microsoft YaHei;
    -webkit-transition: background .3s linear;
    transition: background .3s linear;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    >img {
      margin: 15px 0;
      width: 60px;
      height: 60px;
      display: inline-block;
    }
    >h4 {
      color: #373737;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
    }
    >p {
      margin-top: 5px;
      color: #999;
      font-size: 12px;
      line-height: 15px;
    }
    img.selected {
      display: none;
    }
    &.selected {
      background: #108ee9;
      box-shadow: 0 40px 50px 0 rgba(16,142,233,.15);
      >img {
        display: none;
      }
      img.selected {
        display: inline-block;
      }
      >h4 {
        color: #fff;
      }
      >p {
        color: #fff;
        opacity: .8;
      }
    }
  }
}

.scenario-detail-list {
  position: relative;
  width: 1240px;
  margin: 0 auto;
  text-align: left;
  margin-top: 17px;
  &::before {
    background: #979797;
  }
  .scenario-detail-item  {
    position: relative;
    display: none;
    top: 0;
    left: 0;
    padding-top: 78px;
    &.selected {
      display: block;
    }
    .scenario-detail-left {
      font-family: Microsoft YaHei;
      padding-left: 13px;
      padding-bottom: 12px;
      width: 570px;
      >h4 {
        margin-bottom: 16px;
        font-size: 40px;
        color: #333;
        line-height: 40px;
        font-weight: 400;
        vertical-align: bottom;
      }
      >p {
        font-size: 12px;
        color: #333;
        line-height: 22px;
        max-width: 434px;
      }
      .scenario-ability-list {
        li {
          list-style: none;
        }
        .ability-title {
          margin-top: 22px;
          margin-bottom: 12px;
          font-size: 16px;
          line-height: 20px;
          color: #999;
          font-weight: 400;
        }
        .ability-real-row {
          display: table;
        }
        .ability-desc {
          font-size: 12px;
          color: #333;
          line-height: 25px;
          max-width: 434px;
        }
        .circle-item {
          position: relative;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          width: 68px;
          height: 69px;
          padding: 0 10px;
          box-sizing: border-box;
          color: #666;
          font-size: 14px;
          line-height: 18px;
          &::before {
            background: #999;
            left: 0;
            top: 0;
            width: 65px;
            height: 65px;
            content: "";
            position: absolute;
            border-radius: 50%;
            opacity: .1;
          }

          &::after {
            right: 0;
            bottom: 0;
            border: .6px solid #999;
            width: 65px;
            height: 65px;
            content: "";
            position: absolute;
            border-radius: 50%;
            opacity: .1;
          }

          &.blue-circle {
            color: #108ee9;
            &::before {
              background: #108ee9;
            }
            &::after {
              border-color: #108ee9;
            }
          }
        }
        .circle-item-spacing {
          display: table-cell;
          font-size: 0;
          width: 14px;
        }
      }
    }
    .scenario-detail-right {
      width: 720px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 570px;
      overflow: hidden;
      >img {
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.scenario-actions {
  background: #ecf3fd;
  text-align: center;
  display: none;
  &.selected {
    display: block;
  }
  .scenario-action {
    display: inline-block;
    margin: 30px 7px;
    padding: 12px 56px;
    font-family: PingFang SC;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #108ee9;
    text-decoration: none;
    &.primary {
      background: #108ee9;
      color: #fff;
    }
    &.secondary {
      color: #108ee9;
      padding: 12px 45px;
    }
  }

}


