// 全局样式
html,
body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

// 覆盖基础组件样式专用
// 覆盖组件名用注释标记
// Layout
.ice-layout-theme-light.ice-layout-aside,
.ice-layout-theme-light.ice-layout-aside .ice-menu {
  background: transparent;
}

// 顶部导航
.ice-layout-theme-light.ice-layout-header {
  box-shadow: none;
  background: transparent;
  .ice-menu-item,
  .ice-menu-item > a {
    color: #666;
    text-decoration: none;
  }
  .ice-menu-item-selected,
  .ice-menu-item-selected > a {
    color: #fff;
  }
}

// 侧边导航
.ice-layout .ice-admin-aside-menu,
.ice-layout .ice-layout-aside {
  color: #666;
  .ice-menu:not(.ice-menu-horizontal) .ice-menu-item-selected {
    background-image: linear-gradient(90deg, #1861D5 0%, #3080FE 100%);
    border-radius: 6px;
    box-shadow: 0 0 0 rgba(0,0,0,0.1);
    color: #fff;
    &.ice-menu-item-selected:before {
      width: 0;
    }
  }
  .ice-menu-collapse {
    .ice-menu-submenu-vertical {
      .ice-menu-sub {
        background: #fff;
      }
    }
  }
  .ice-menu-sub .ice-menu-item:hover:before {
    width: 0;
  }
  .ice-menu-item:hover {
    color: #3080FE;
    background: transparent;
  }
  .ice-menu-item,
  .ice-menu-item>a {
    text-decoration: none;
  }
  .ice-menu-item-selected,
  .ice-menu-item-selected>a {
    color: #fff;
  }
  .ice-menu-submenu-title,
  .ice-menu-submenu-title, i::before {
    font-weight: bold;
  }

  // 侧边导航折叠
  .ice-menu .ice-menu-submenu.ice-menu-submenu-active > .ice-menu-submenu-title {
    background: transparent;
    color: #3080fe;
    &:hover:before {
      width: 0;
    }
  }

  .ice-menu.ice-menu-collapse > .ice-menu-submenu-active > .ice-menu-submenu-title:before,
  .ice-menu.ice-menu-collapse > .ice-menu-submenu-selected > .ice-menu-submenu-title:before,
  .ice-menu.ice-menu-collapse .ice-menu-item:hover:before {
    width: 0;
  }

  .ice-menu.ice-menu-collapse .ice-menu:not(.ice-menu-horizontal) .ice-menu-item-selected {
    background: transparent;
    a {
      color: #3080fe;
    }
  }

  .ice-menu.ice-menu-collapse > .ice-menu-submenu-selected > .ice-menu-submenu-title {
    background-image: linear-gradient(90deg, #1861D5 0%, #3080FE 100%);
    border-radius: 6px;
    color: #fff;
    &:before {
      width: 0;
    }
  }
}

// Footer
.ice-admin-layout-footer {
  a:link,
  a:visited {
    color: #999;
  }
  a:hover {
    color: #2089d9;
  }
}

.ice-layout-main {
  color: #666;
}

// BreadCrumb
.ice-layout-main {
  padding: 20px;

  .next-breadcrumb {
    margin: 0 20px 20px 20px;
  }
  .next-breadcrumb .next-breadcrumb-text a {
    color: #c4c4c4;
  }
  .next-breadcrumb .next-breadcrumb-text.activated a {
    color: #fff;
  }
}

// Tab
.tab-card {
  .next-tabs-tab-inner {
    margin-bottom: 13px;
  }
  .next-tabs-bar {
    border-bottom-color: transparent;
  }
}

// ice-card
div.card-block {
  box-shadow: 0 0 0 rgba(0,0,0,0.1);
}

// table
.next-table {
  color: #666;

  td {
    border: none;
  }

  .next-table-row {
    &.selected {
      background: none;
    }
  }

  .next-table-cell {
    &.first {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    &.last {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

