.ice-ballon-confirm {
  padding: 12px;
  .ice-ballon-confirm-title {
    margin-bottom: 10px;

    .next-icon {
      margin-right: 10px;
    }
  }

  .ice-ballon-confirm-btn-group {
    text-align: right;
    button:not(:last-child) {
      margin-right: 6px;
    }
  }
}
