.header-container {
  width: 100%;
  height: 62px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: $color-brand1-6;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  .header-navbar {
    display: flex;
    flex-direction: row;
    .next-menu {
      .next-menu-item {
        i {
          padding-right: 1em;
        }
      }
    }
  }
}
