<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://g.alicdn.com/code/npm/??react/16.3.0/umd/react.development.js,react-dom/16.3.0/umd/react-dom.development.js"></script>
  <title>飞冰 DEMO 预览</title>
</head>

<body>

  <div id="container"></div>
  <script src="/__Component_Dev__.js"></script>
  <script>
    var mountNode = document.querySelector('#container');
    function require(mod) {
      switch(mod) {
        case 'react':
          return React;
        case 'react-dom':
          return ReactDOM;
        case '${}':
          return __Component__.default;
        default:
          console.warn(`Can not resolve module ${mod}`);
      }
    }
    {{ compiled }}
  </script>
</body>

</html>
