<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://g.alicdn.com/code/npm/??react/16.3.0/umd/react.development.js,react-dom/16.3.0/umd/react-dom.development.js"></script>
  <title>飞冰组件开发 Server</title>
</head>

<body>
  <pre>{{ demos }}</pre>
  <div id="container"></div>
  <script></script>
</body>

</html>
