$prefixCls: 'edit';

.page-#{$prefixCls} {
  .#{$prefixCls}-btn {
    width: 130px;
    height: 40px;
    font-size: 18px;
    &:last-of-type {
      margin-left: 20px;
      color: #333;
      background-color: #F7F8FA;
    }
  }
  .next-select.large .next-select-inner-item {
    height: 30px;
    line-height: 33px;
  }
  .next-select .next-comobobox-arrow-wrapper {
    border-left: none;
  }
  .next-select.large .next-select-arrow, .next-select.large .next-select-clear {
    margin-top: -20px;
  }
  .next-select.large {
    height: 40px;
    line-height: 40px;
    border-radius: 0;
  }
  .next-form-left .next-form-item-label {
    line-height: 40px;
  }
  .next-select.medium {
    height: 40px;
    border-radius: 0;
    line-height: 39px;
    padding-left: 4px;
  }
  .next-select.medium .next-select-arrow, .next-select.medium .next-select-clear {
    margin-top: -20px;
  }
  .next-form-item {
    margin-bottom: 10px;
  }
  .next-form-left .next-form-item-control {
    color: #999;
  }
  .next-input-medium input {
    height: 40px;
    border-radius: 0;
  }
  .next-input-medium {
    border-radius: 0;
  }
  .next-form-left .next-form-item-label {
    color: #525252;
  }
}
