.nav-menu {
  .arrow-up-icon,
  .arrow-down-icon {
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 1;
    transition: 0.3s ease;
  }
  .sub-navs,
  .arrow-up-icon {
    display: none;
  }
  &:hover {
    background: #272b2f;
    .sub-navs,
    .arrow-up-icon {
      display: block;
    }
    .arrow-down-icon {
      display: none;
    }
  }
}
