.iceworks-xxs {
  font-size: 10px;
}
.iceworks-xs {
  font-size: 12px;
}
.iceworks-small {
  font-size: 14px;
}
.iceworks-medium {
  font-size: 16px;
}
.iceworks-large {
  font-size: 18px;
}
.iceworks-xl {
  font-size: 20px;
}
.iceworks-xxl {
  font-size: 22px;
}
.iceworks-xxxl {
  font-size: 24px;
}
