@import '~@icedesign/base/lib/core/index.scss';

$prefixCls: 'view';

.page-#{$prefixCls} {
  &-content {
    background: #fff;
    padding: 20px;
    &-item {
      margin: 20px 0px 30px;
    }
  }
  .actions-split {
    margin: 0 8px;
    color: $color-brand1-5;
  }
  .next-search .next-select {
    border-radius: 4px 0 0 4px;
  }
  .next-search .next-search-lt {
    border-radius: 6px 0 0 6px;
  }
  .next-search .next-btn {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .#{$prefixCls}-new {
    float: right;
    color: #fff;
    background: $color-brand1-5;
    border-style: none;
  }
  .#{$prefixCls}-search {
    float: left;
    &-item {
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
    }
    &-item-label {
      margin-right: 10px;
    }
  }
  .#{$prefixCls}-header {
    margin-bottom: 10px;
  }
  .#{$prefixCls}-pagination-right {
    text-align: right;
    margin-top: 10px;
  }
}
