@import '../../../../variables.scss';

.wrap {
  height: calc(100vh - 250px);
  display: flex;
  flex-direction: row;

  > .main {
    width: 804px;
    overflow-y: auto;
    padding: 0 150px;
    background-color: $background-color-base;

    .existed {
      padding: 0 6px;

      .item {
        background-color: $background-color-deep;
        margin-top: 6px;
        height: 24px;
        display: flex;
        align-items: center;
        padding-left: 6px;
      }
    }

    .blocks {
      padding: 6px;
  
      .empty {
        display: block;
        text-align: center;
        padding: 14px 0;
  
        img {
          display: block;
          margin: 0 auto;
          width: 40px;
          margin-bottom: 8px;
        }
      }
  
      .item {
        width: 100%;
        // height: 120px;
        position: relative;
        margin-bottom: 4px;
        overflow: hidden;
  
        &.isSorting {
          pointer-events: none;
        }
  
        &:hover {
          box-shadow: 0px 0px 2px 1px $brand-color-primary;
          z-index: 1;
  
          .trash {
            visibility: visible;
          }
          .name {
            visibility: visible;
          }
        }
  
        .screenshot {
          width: 100%;
          cursor: move;
  
          img {
            display: block;
            max-width: 100%;
          }
        }
  
        .trash {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          visibility: hidden;
        }
  
        .name {
          display: flex;
          flex-direction: row;
          align-items: center;
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          visibility: hidden;
          background-color: $background-color-base;

          .input {
            flex: 1;
            border: 0 none;
            background-color: transparent;
            z-index: 2;
            position: relative;
          }
  
          .icon {
            margin-left: 4px;
            margin-right: 12px;
            position: absolute;
            right: 0;
            top: 3px;
            z-index: 1;
          }
        }
      }
    }
  }
  
  .material {
    width: 400px;
    margin-left: 24px;
    position: relative;
  }
}

.blockIsDraging {
  z-index: 99999;
  overflow: hidden;

  img {
    width: 500px;
  }
}

.materialWrap {
  display: flex;
  height: 100%;
  flex-direction: column;

  .selectWrap {
    height: 24px;
    margin-bottom: 12px;

    .select {
      width: 100%;
    }
  }

  .main {
    flex: 1;
    display: flex;
    overflow: hidden;

    :global {
      .next-loading-wrap {
        display: flex;
        flex-direction: row;
      }
    }

    .categories {
      width: 100px;
      margin-left: 12px;
      background-color: $background-color-light;
      padding: 6px;
      overflow-y: auto;

      .item {
        padding: 2px 0;
        cursor: pointer;
        margin-bottom: 6px;

        &.selected {
          border-bottom: 2px solid $black;
        }
      }
    }

    .materials {
      overflow-y: auto;
      flex: 1;
      padding: 18px;
    }
  }
}