@import '../../../../variables.scss';

.wrap {
  width: calc(100vw - 250px);
  height: calc(100vh - 250px);
  display: flex;
  flex-direction: row;

  .blocks {
    width: 60%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 2px;

    .item {
      width: 100%;
      position: relative;
      margin-bottom: 4px;

      &:hover {
        box-shadow: 0px 0px 2px 1px $brand-color-primary;
        z-index: 1;

        .trash {
          visibility: visible;
        }
        .name {
          visibility: visible;
        }
      }

      .screenshot {
        img {
          width: 100%;
          min-height: 60px;
        }
      }

      .trash {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        visibility: hidden;
      }

      .name {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        visibility: hidden;
        background-color: $background-color-base;

        .input {
          flex: 1;
          border: 0 none;
          background-color: transparent;
        }

        .icon {
          margin-left: 4px;
          margin-right: 12px;
        }
      }
    }
  }

  .material {
    width: 40%;
    margin-left: 24px;
  }
}

.materialWrap {
  display: flex;
  height: 100%;
  flex-direction: column;

  .select {
    height: 24px;
    margin-bottom: 12px;
  }

  .main {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .categories {
      width: 60px;
      margin-left: 12px;
    }

    .materials {
      overflow-y: auto;
      flex: 1;
    }
  }
}