.devCard {
  display: flex;
  flex-direction: column;

  .actionBar {
    display: flex;
    justify-content: space-between;
    flex: auto 0 0;

    .leftButton {
      display: inline-flex;
      align-items: center;
      margin: 0 10px;
    }

    .rightButton {
      display: inline-flex;
      align-items: center;
    }

    .icon {
      margin-right: 5px;
    }
  }

  .content {
    margin: 20px 0;
    flex: auto 1 1;
  }
}

// TODO: should use :local，but ice-scripts not support
:global {
  .next-card-body {
    flex: 1;
  }
  .next-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
