@charset "UTF-8";

.system-notice-list {
  .up {
    color: #4296ff;
    background: #eff6ff;
  }
  .new {
    color: #fca61c;
    background: #fff4e2;
  }
  .hot {
    color: #f86d6d;
    background: #ffe8e8;
  }
}
