@import '../../../../variables.scss';

.header {
  display: flex;
  flex-direction: row;
  flex: 1;

  h3 {
    flex: 1;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      margin-right: 12px;
      color: $brand-color-primary;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.editModal {
  width: 320px;
}
