// ice-title variables
// --------------------------------------------------

////
/// @module @icedesign/title: ICE 标题组件
/// @tag IceTitle
/// @category custom
/// @family ice
/// @varPrefix $ice-title
/// @classPrefix ice-title
////

@import '~@alifd/next/lib/core/index.scss';

// -------------- variable --------------
$ice-title-prefix: '.ice-title';

// Statement: Normal
// ----------------------------------------

/// 主题色
/// @namespace statement/normal
/// @type color
$ice-title-border-color: $color-brand1-6 !default;

/// 主标题字号大小
/// @namespace statement/normal
/// @type size
$ice-title-title-size: $font-size-title !default;

/// 主标题字体颜色
/// @namespace statement/normal
/// @type color
$ice-title-title-color: $color-text1-4 !default;

$ice-title-margin-left: $s-10 !default;

$margin-right: $s-5 !default;

$padding-left: $s-3 !default;

/// 副标题字体颜色
/// @namespace statement/normal
/// @type color
$ice-title-subtitle-color: $color-text1-3 !default;

/// 副标题字号大小
/// @namespace statement/normal
/// @type size
$ice-title-subtitle-size: $font-size-body-1 !default;

$ice-title-subtitle-margin-left: $s-3 !default;
