@charset "UTF-8";

.join-us {
  .next-input.next-input-single input,
  .next-input.next-input-multiple textarea {
    font-size: 12px;
  }
  .hoz-form-item {
    .next-col {
      padding: 0;
    }
  }
  .ver-form-item {
    .next-input {
      width: 610px;
    }
  }
  .next-row {
    margin-bottom: 15px;
  }
}
