@import '../../variables.scss';

.xtermContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  background: $background-color-light;

  .clearIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9;
    cursor: pointer;
  }
}
