.header-container {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
  .header-content {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-search-input {
    display: flex;
    align-items: center;
    .next-input {
      background-color: transparent;
      border-color: #dcdee3;
      width: auto;
      input {
        width: 100px;
        transition: all ease-out 0.3s;
        color: #fff;
        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
          font-size: 12px;
        }
        &:focus,
        &:hover {
          background-color: #fff;
          width: 200px;
          color: #333;
          &::placeholder {
            color: #999;
          }
        }
      }
    }
  }

  .header-navbar {
    display: flex;
    flex-direction: row;
    .ice-menu {
      background: transparent;
      .ice-menu-item {
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        color: #fff;
        a:hover {
          color: #bfbfbf;
        }
        .arrow-down-filling-icon {
          margin-right: 0;
          margin-top: -1px;
        }
      }
    }
  }
}

.header-balloon-content {
  width: 120px;
  padding: 10px;
  .custom-sub-menu {
    display: block;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    color: #666;
    text-decoration: none;
    &:hover {
      color: #2077ff;
    }
  }
}

@media (max-width: 750px) {
  .header-container {
    .header-search-input {
      display: none;
    }
    .header-navbar {
      .ice-menu .ice-menu-item {
        padding: 0 5px;
      }
    }
  }
}
