
.home {
  a, a:hover, :active {
    text-decoration: none;
  }

  .next-progress-circle-overlay-normal {
    stroke: #447eff;
  }
  
  .next-progress-line-overlay-normal {
    background-color: #447eff;
  }
}
