.ice-admin-layout-header {
  width: 100%;
  height: 62px;
  background: transparent;
  padding: 0 20px;
  color: #999;
  display: flex;
  align-items: center;
  .next-nav {
    margin-left: 40px;
    background: transparent;
    .next-menu-item {
      margin-right: 1px solid $color-white;
    }
  }
  .ice-header-userpannel {
    position: absolute;
    right: 20px;
    color: $color-white;
    display: flex;
    align-items: center;
    .ice-header-user-avatar {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    .ice-header-user-name {
      cursor: pointer;
      .ice-header-arrow {
        margin-left: 5px;
      }
    }
  }
}
