name: CI

env:
  NODE_OPTIONS: --max-old-space-size=6144

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [18.x, 20.x]
        os: [windows-latest, ubuntu-latest]
      fail-fast: false
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'
      - run: npm run setup
      - run: npm run puppeteer:install
      - run: npm run dependency:check
      - run: npm run lint
      - run: npm run test
        env:
          TEST: true
          CI: true
          ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY_ID }}
          ACCESS_KEY_SECRET: ${{ secrets.ACCESS_KEY_SECRET }}
