<style>
  .search-wrapper {
    padding: 10rpx 20rpx;
    background-color: #fff;
  }

  .search-input {
    background-color: #fafafa;
    font-size: 28rpx;
    height: 56rpx;
    line-height: 56rpx;
    width: 100%;
  }
</style>

<template>
  <view class="search-wrapper">
    <input class="search-input" placeholder="搜索" @input="onInput" />
  </view>
</template>

<script>
  export default {
    data() {
      return {}
    },
    methods: {
      onInput(event) {
        console.log(event.detail.value)
      }
    }
  };
</script>
