<style>
  .search-wrapper {
    padding: 10 20;
    background-color: #fff;
  }

  .search-input {
    background-color: #fafafa;
    font-size: 28;
    height: 56;
    line-height: 1;
  }
</style>

<template>
  <view class="search-wrapper">
    <input class="search-input" placeholder="搜索" @input="onInput" @input="onInput" @input="onInput" />
  </view>
</template>

<script>
  export default {
    data() {
      return {}
    },
    methods: {
      onInput(event) {
        console.log(event.detail.value)
      }
    }
  };
</script>
